@import "../../../../theme-framework/assets/css/mixins.less";

.cpm-table {
  width: 100%;
  margin-bottom: 18px;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  // Cells
  th,
  td {
    padding: 5px;
    line-height: 18px;
    text-align: left;
    border-top: 1px solid #ddd;
  }
  th {
    font-weight: bold;
    vertical-align: bottom;
  }
  td {
    vertical-align: top;
  }
  thead:first-child tr th,
  thead:first-child tr td {
    border-top: 0;
  }
  tbody + tbody {
    border-top: 2px solid #ddd;
  }

  .no-border {
      border: none;
  }
}

.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapsed; // IE7 can't round corners anyway
  .border-radius(4px);
  th + th,
  td + td,
  th + td,
  td + th {
    border-left: 1px solid #ddd;
  }
  // Prevent a double border
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  // For first th or td in the first row in the first thead or tbody
  thead:first-child tr:first-child th:first-child,
  tbody:first-child tr:first-child td:first-child {
    .border-radius(4px 0 0 0);
  }
  thead:first-child tr:first-child th:last-child,
  tbody:first-child tr:first-child td:last-child {
    .border-radius(0 4px 0 0);
  }
  // For first th or td in the first row in the first thead or tbody
  thead:last-child tr:last-child th:first-child,
  tbody:last-child tr:last-child td:first-child {
    .border-radius(0 0 0 4px);
  }
  thead:last-child tr:last-child th:last-child,
  tbody:last-child tr:last-child td:last-child {
    .border-radius(0 0 4px 0);
  }
}

ul.cpm-nav{
    list-style: none;
    float: right;
    background: #298CBA;
    padding: 3px;
    margin: 0;

    li {
        display: inline-block;
        margin: 0;
        padding: 3px 10px;
        background: #fff;

        &.active {
            background: #298CBA;

            a {
                color: #fff;
                font-weight: bold;
            }
        }

        a {
            text-decoration: none;
        }
    }
}

form.cpm-project-form {
    .cpm-form-item {
        display: block;
        clear: left;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;

        label {
            float: left;
            width: 140px;
            font-size: 13px
        }

        .cpm-form-input{
            margin-left: 140px;
            width: 60%;
        }

        input[type=text] {
            padding: 5px 10px;
            width: 350px;
        }

        select {
            min-width: 200px;
        }

        #project-status-text {
            font-weight: bold;
            color: green;
        }

        select#project_coworker {
            min-width: 350px;
        }
    }
}

.cpm-left {
    float: left;
}

.cpm-right {
    float: right;
}

.cpm-clear {
    clear: both;
}

span.required {
    color: #cd0a0a;
}

.cpm-loading:after {
    background: url('../images/loading.gif') no-repeat;
    height: 16px;
    width: 16px;
    margin: 0 0 0 10px;
    display: inline-block;
    content: "";
    position: absolute;
}

.cpm-comment {
    margin: 0 0 10px 0;
    border: 1px solid #DDD;
    .border-radius(5px);
    background: #eee;
    padding: 10px;
    width: 50%;

    .cpm-upload-container {
        background: #fff;
        padding: 10px;
    }
}

.cpm-nav-title {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    .border-radius(0 0 5px 5px);
    border-top: none;
    color: #898989;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.cpm-form {
    width: 100%;
    overflow: hidden;

    .form-table {
        width: 70%;

        .form-field {
            max-width: 100%;
        }
    }

    .description {
        display: block;
    }

    .form-field {
        input[type=radio], input[type=checkbox] {
            width: auto;
        }
    }
}

.cpm-task-list {
    background: #eee;
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;

    ul.links {
        li {
            display: inline;

            a {
                text-decoration: none;
                background: #298CBA;
                color: #fff;
                padding: 2px 6px;
                .border-radius(5px);

                &.cpm-loading {
                    background: #eee;
                }
            }
        }
    }

    .cpm-list-title {
        display: block;
        overflow: hidden;
        background: #fff;
        .border-radius(5px);
        padding: 10px;

        h3 {
            margin: 0;
        }
    }

    .cpm-tasks {
        padding: 10px;

        .cpm-task {
            padding: 10px 10px 0 10px;
            background: #fff;
            margin: 0 0 10px 0;
            border: 1px solid #ddd;
            .border-radius(5px);

            &.close {
                background: #eee;

                a {
                    background: #ddd;
                    color: #999;
                }
            }
        }
    }
}

.cpm-form-tasks {
    table {
        thead {
            th {
                background: #eee;
            }
        }
    }
}

.cpm-milestones {

    .cpm-milestone {
        background: #FAF9E4;
        padding: 10px;
        margin: 0 0 10px 0;
        border: 1px solid #ddd;
        .border-radius(5px);

        &.late {
            background: #F9ECE6;
        }

        &.complete {
            background: #E4FFE4;
        }
    }
}

.cpm-comment-form {
    width: 50%;

    fieldset {
        border: 1px solid #ddd;
        .border-radius(5px);
        padding: 10px;
        margin-bottom: 10px;
    }

    legend {
        font-weight: bold;
        border: 1px solid #ddd;
        .border-radius(5px);
        padding: 5px 10px;
    }

    input[type=file] {
        border: 1px solid #ddd;
        .border-radius(5px);
    }

    textarea {
        padding: 10px;
    }
}

.cpm-progress {
    overflow: hidden;
    height: 18px;
    #gradient > .vertical(#f5f5f5, #f9f9f9);
    .box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
    .border-radius(4px);

    .bar {
        width: 0%;
        height: 18px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        #gradient > .vertical(#149bdf, #0480be);
        .box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
        .transition(width .6s ease);
    }

    .text {
        margin-top: -18px;
        color: #636262;
        font-size: 12px;
        padding: 0 25px;
    }
}

.cpm-progress-info .bar {
  #gradient > .vertical(#62c462, #57a957);
}

ul.cpm-links {
    li {
        display: inline;

        a {
            text-decoration: none;
            background: #298CBA;
            color: #fff;
            padding: 2px 6px;
            .border-radius(5px);

            &.cpm-loading {
                background: #eee;
            }
        }
    }
}

label.error {
    color: red;
}

input.error {
    border: 1px solid red;
}

.cpm-invoice {
    .cpm-invoice-wrap {
        width: 75%;

        .form-table {
            width: 100%;
        }

        .fill {
            background: #257DA6;
            color: #fff;
            font-weight: bold;
            text-shadow: none;
        }

        .actions {
            width: 60px;
        }

        table.cpm-invoice-items {
            background: #eee;
            border: 1px solid #ddd;
            .border-radius(5px);

            a {
                text-decoration: none;
                font-size: 11px;
            }

            textarea.entry-details {
                width: 100%;
            }
        }

        .cpm-invoice-total-box {
            width: 230px;
            float: right;

            table.cpm-invoice-totals {
                background: #eee;
                border: 1px solid #E0E0E0;
                display: block;
                margin: 7px 0;
                overflow: hidden;
                width: 100%;
                border-collapse: collapse;

                th {
                    text-align: left;
                    width: 130px;
                    padding: 5px 5px 10px 25px;
                    font-weight: normal;
                }

                td {
                    padding: 5px;
                    text-align: right;
                    width: 45%;
                }

                .divider {
                    td, th {
                        border-top: 1px solid #e1e1e1;
                        border-bottom: 1px solid #fff;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

    &.invoice-display {
        width: 670px;
        overflow: hidden;
        border-collapse: collapse;
        border-spacing: 0;
        position: relative;
        margin: 30px 0 30px 0;

        .inv-items-container {
            margin: 0;
            padding: 0;
        }

        .col-task {
            width: 110px;
        }

        .col-space {
            width: 430px;
            border: none !important;
        }

        .col-unit {
            width: 70px;
            text-align: center;
        }

        .col-qty {
            width: 50px;
            text-align: center;
        }

        .col-total {
            width: 73px;
            text-align: right;
        }

        .border-left {
            border-left: 1px solid #ddd;
        }

        .fill {
            background: #ddd;
        }

        th {
            text-align: center;
        }

        .invoice-title {
            color: #eee;
            position: absolute;
            line-height: 26px;
            font-weight: bold;
            text-align: center;
            width: 100%;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
        }

        .invoice-top {
            overflow: hidden;
            margin: 0 0 15px 0;

            .invoice-address {
                float: left;
                width: 50%;
            }

            .invoice-from {
                min-height: 120px;
            }

            .invoice-logo {
                float: right;
                width: 50%;
            }
        }

        .invoice-totals {
            th {
                text-align: right;
            }
        }
    }
}

.cpm-uploaded-item {
    background: #eee;
    padding: 10px;
    overflow: hidden;
    .border-radius(5px);
    margin: 0 0 10px 0;

    img {
        float: left;
        border: 1px solid #ddd;
        padding: 5px;
        margin-right: 20px;
        .border-radius(5px);
        background: #fff;
        max-width: 150px;
    }

}