.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*--------------------------------------------------
:: Variables
-------------------------------------------------- */
.cpm a {
  text-decoration: none;
}
.cpm-left {
  float: left;
}
.cpm-right {
  float: right;
}
.cpm-clear {
  clear: both;
}
span.required {
  color: #cd0a0a;
}
.cpm-loading:after {
  background: url('../images/loading.gif') no-repeat;
  height: 16px;
  width: 16px;
  margin: 0 0 0 10px;
  display: inline-block;
  content: "";
  position: absolute;
}
/*--------------------------------------------------
:: Table
-------------------------------------------------- */
.cpm-table {
  width: 100%;
  margin-bottom: 18px;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.cpm-table th,
.cpm-table td {
  padding: 5px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #ddd;
}
.cpm-table th {
  font-weight: bold;
  vertical-align: bottom;
}
.cpm-table td {
  vertical-align: top;
}
.cpm-table thead:first-child tr th,
.cpm-table thead:first-child tr td {
  border-top: 0;
}
.cpm-table tbody + tbody {
  border-top: 2px solid #ddd;
}
.cpm-table .no-border {
  border: none;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #ddd;
}
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
ul.cpm-attachments {
  margin: 0 10px;
}
ul.cpm-attachments li {
  display: inline-block;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  vertical-align: top;
}
/*--------------------------------------------------
:: Form
-------------------------------------------------- */
.cpm-form {
  width: 100%;
  overflow: hidden;
}
.cpm-form .form-table {
  width: 70%;
}
.cpm-form .form-table .form-field {
  max-width: 100%;
}
.cpm-form .description {
  display: block;
}
.cpm-form .form-field input[type=radio],
.cpm-form .form-field input[type=checkbox] {
  width: auto;
}
/*--------------------------------------------------
:: Navigation
-------------------------------------------------- */
ul.cpm-nav {
  list-style: none;
  float: right;
  background: #298CBA;
  padding: 3px;
  margin: 0;
}
ul.cpm-nav li {
  display: inline-block;
  margin: 0;
  padding: 3px 10px;
  background: #fff;
}
ul.cpm-nav li.active {
  background: #298CBA;
}
ul.cpm-nav li.active a {
  color: #fff;
  font-weight: bold;
}
ul.cpm-nav li a {
  text-decoration: none;
}
.cpm-nav-title {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-top: none;
  color: #898989;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}
/*--------------------------------------------------
:: Project
-------------------------------------------------- */
form.cpm-project-form .cpm-form-item {
  display: block;
  clear: left;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
form.cpm-project-form .cpm-form-item label {
  float: left;
  width: 140px;
  font-size: 13px;
}
form.cpm-project-form .cpm-form-item .cpm-form-input {
  margin-left: 140px;
  width: 60%;
}
form.cpm-project-form .cpm-form-item input[type=text] {
  padding: 5px 10px;
  width: 350px;
}
form.cpm-project-form .cpm-form-item select {
  min-width: 200px;
}
form.cpm-project-form .cpm-form-item #project-status-text {
  font-weight: bold;
  color: green;
}
form.cpm-project-form .cpm-form-item select#project_coworker {
  min-width: 350px;
}
/*--------------------------------------------------
:: Message
-------------------------------------------------- */
.cpm-msg-single {
  background-color: #f9f9f9;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cpm-msg-single h3.cpm-msg-title {
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  background-image: linear-gradient(to bottom, #f9f9f9, #ececec);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffececec', GradientType=0);
  border-bottom: 1px solid #dfdfdf;
  padding: 8px 10px;
  margin: 0;
  font-size: 13px;
}
.cpm-msg-single .cpm-entry-meta {
  margin: 10px;
  color: #888;
}
.cpm-msg-single .cpm-entry-meta .cpm-separator {
  color: #dfdfdf;
}
.cpm-msg-single .cpm-entry-detail {
  margin: 0 10px 10px 10px;
}
/*--------------------------------------------------
:: Comment
-------------------------------------------------- */
.cpm-comment-wrap {
  background-color: #f9f9f9;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cpm-comment-wrap li.cpm-comment {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #fff;
}
.cpm-comment-wrap li.cpm-comment.odd {
  background-color: #fcfcfc;
}
.cpm-comment-wrap li.cpm-comment .cpm-avatar {
  float: left;
  margin-right: 20px;
}
.cpm-comment-wrap li.cpm-comment .cpm-comment-container {
  margin-left: 68px;
}
.cpm-comment-wrap li.cpm-comment .cpm-comment-container .cpm-comment-meta {
  color: #888;
}
.cpm-comment-wrap li.cpm-comment .cpm-comment-container .cpm-comment-meta .cpm-separator {
  color: #dfdfdf;
}
.cpm-comment-wrap li.cpm-comment .cpm-upload-container {
  background: #fff;
  padding: 10px;
}
.cpm-comment-wrap li.cpm-comment:last-child {
  border-bottom: none;
}
.cpm-comment-form {
  width: 50%;
}
.cpm-comment-form fieldset {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.cpm-comment-form legend {
  font-weight: bold;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}
.cpm-comment-form input[type=file] {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cpm-comment-form textarea {
  padding: 10px;
}
/*--------------------------------------------------
:: Task List
-------------------------------------------------- */
.cpm-task-list {
  background: #eee;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.cpm-task-list ul.links li {
  display: inline;
}
.cpm-task-list ul.links li a {
  text-decoration: none;
  background: #298CBA;
  color: #fff;
  padding: 2px 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cpm-task-list ul.links li a.cpm-loading {
  background: #eee;
}
.cpm-task-list .cpm-list-title {
  display: block;
  overflow: hidden;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.cpm-task-list .cpm-list-title h3 {
  margin: 0;
}
.cpm-task-list .cpm-tasks {
  padding: 10px;
}
.cpm-task-list .cpm-tasks .cpm-task {
  padding: 10px 10px 0 10px;
  background: #fff;
  margin: 0 0 10px 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cpm-task-list .cpm-tasks .cpm-task.close {
  background: #eee;
}
.cpm-task-list .cpm-tasks .cpm-task.close a {
  background: #ddd;
  color: #999;
}
.cpm-form-tasks table thead th {
  background: #eee;
}
/*--------------------------------------------------
:: Milestone
-------------------------------------------------- */
.cpm-milestones .cpm-milestone {
  background: #FAF9E4;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cpm-milestones .cpm-milestone.late {
  background: #F9ECE6;
}
.cpm-milestones .cpm-milestone.complete {
  background: #E4FFE4;
}
.cpm-progress {
  overflow: hidden;
  height: 18px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.cpm-progress .bar {
  width: 0%;
  height: 18px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.cpm-progress .text {
  margin-top: -18px;
  color: #636262;
  font-size: 12px;
  padding: 0 25px;
}
.cpm-progress-info .bar {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}
ul.cpm-links li {
  display: inline;
}
ul.cpm-links li a {
  text-decoration: none;
  background: #298CBA;
  color: #fff;
  padding: 2px 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul.cpm-links li a.cpm-loading {
  background: #eee;
}
label.error {
  color: red;
}
input.error {
  border: 1px solid red;
}
/*--------------------------------------------------
:: Invoice
-------------------------------------------------- */
.cpm-invoice .cpm-invoice-wrap {
  width: 75%;
}
.cpm-invoice .cpm-invoice-wrap .form-table {
  width: 100%;
}
.cpm-invoice .cpm-invoice-wrap .fill {
  background: #257DA6;
  color: #fff;
  font-weight: bold;
  text-shadow: none;
}
.cpm-invoice .cpm-invoice-wrap .actions {
  width: 60px;
}
.cpm-invoice .cpm-invoice-wrap table.cpm-invoice-items {
  background: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cpm-invoice .cpm-invoice-wrap table.cpm-invoice-items a {
  text-decoration: none;
  font-size: 11px;
}
.cpm-invoice .cpm-invoice-wrap table.cpm-invoice-items textarea.entry-details {
  width: 100%;
}
.cpm-invoice .cpm-invoice-wrap .cpm-invoice-total-box {
  width: 230px;
  float: right;
}
.cpm-invoice .cpm-invoice-wrap .cpm-invoice-total-box table.cpm-invoice-totals {
  background: #eee;
  border: 1px solid #E0E0E0;
  display: block;
  margin: 7px 0;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
}
.cpm-invoice .cpm-invoice-wrap .cpm-invoice-total-box table.cpm-invoice-totals th {
  text-align: left;
  width: 130px;
  padding: 5px 5px 10px 25px;
  font-weight: normal;
}
.cpm-invoice .cpm-invoice-wrap .cpm-invoice-total-box table.cpm-invoice-totals td {
  padding: 5px;
  text-align: right;
  width: 45%;
}
.cpm-invoice .cpm-invoice-wrap .cpm-invoice-total-box table.cpm-invoice-totals .divider td,
.cpm-invoice .cpm-invoice-wrap .cpm-invoice-total-box table.cpm-invoice-totals .divider th {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #fff;
  padding: 0;
  margin: 0;
}
.cpm-invoice.invoice-display {
  width: 670px;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
  margin: 30px 0 30px 0;
}
.cpm-invoice.invoice-display .inv-items-container {
  margin: 0;
  padding: 0;
}
.cpm-invoice.invoice-display .col-task {
  width: 110px;
}
.cpm-invoice.invoice-display .col-space {
  width: 430px;
  border: none !important;
}
.cpm-invoice.invoice-display .col-unit {
  width: 70px;
  text-align: center;
}
.cpm-invoice.invoice-display .col-qty {
  width: 50px;
  text-align: center;
}
.cpm-invoice.invoice-display .col-total {
  width: 73px;
  text-align: right;
}
.cpm-invoice.invoice-display .border-left {
  border-left: 1px solid #ddd;
}
.cpm-invoice.invoice-display .fill {
  background: #ddd;
}
.cpm-invoice.invoice-display th {
  text-align: center;
}
.cpm-invoice.invoice-display .invoice-title {
  color: #eee;
  position: absolute;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.cpm-invoice.invoice-display .invoice-top {
  overflow: hidden;
  margin: 0 0 15px 0;
}
.cpm-invoice.invoice-display .invoice-top .invoice-address {
  float: left;
  width: 50%;
}
.cpm-invoice.invoice-display .invoice-top .invoice-from {
  min-height: 120px;
}
.cpm-invoice.invoice-display .invoice-top .invoice-logo {
  float: right;
  width: 50%;
}
.cpm-invoice.invoice-display .invoice-totals th {
  text-align: right;
}
.cpm-uploaded-item {
  background: #eee;
  padding: 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 10px 0;
}
.cpm-uploaded-item img {
  float: left;
  border: 1px solid #ddd;
  padding: 5px;
  margin-right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  max-width: 150px;
}
