@import "mixins.less";


/*--------------------------------------------------
:: Variables
-------------------------------------------------- */
@backgroundColor: #f9f9f9;
@borderColor: #dfdfdf;
@linkColor: #21759b;

.cpm {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    vertical-align: baseline;

    a {
        text-decoration: none;
    }

    input[type=text], textarea {
        .placeholder(#999);
    }
}

.cpm-left {
    float: left;
}

.cpm-spacer {
    width: 10px;
}

.cpm-right {
    float: right;
}

.cpm-clear {
    clear: both;
}

span.required {
    color: #cd0a0a;
}

ul.cpm-inline-ul {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }
}

.cpm-hide {
    display: none;
}

.cpm-loading:after {
    background: url('../images/loading.gif') no-repeat;
    height: 16px;
    width: 16px;
    margin: 0 0 0 10px;
    display: inline-block;
    content: "";
    position: absolute;
}

/*--------------------------------------------------
:: Table
-------------------------------------------------- */
.cpm-table {
    width: 100%;
    margin-bottom: 18px;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    // Cells
    th,
    td {
        padding: 5px;
        line-height: 18px;
        text-align: left;
        border-top: 1px solid #ddd;
    }

    th {
        font-weight: bold;
        vertical-align: bottom;
    }

    td {
        vertical-align: top;
    }

    thead:first-child tr th,
    thead:first-child tr td {
        border-top: 0;
    }

    tbody + tbody {
        border-top: 2px solid #ddd;
    }

    .no-border {
        border: none;
    }
}

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate; // Done so we can round those corners!
    *border-collapse: collapsed; // IE7 can't round corners anyway
    .border-radius(4px);

    th + th,
    td + td,
    th + td,
    td + th {
        border-left: 1px solid #ddd;
    }

    // Prevent a double border
    thead:first-child tr:first-child th,
    tbody:first-child tr:first-child th,
    tbody:first-child tr:first-child td {
        border-top: 0;
    }

    // For first th or td in the first row in the first thead or tbody
    thead:first-child tr:first-child th:first-child,
    tbody:first-child tr:first-child td:first-child {
        .border-radius(4px 0 0 0);
    }

    thead:first-child tr:first-child th:last-child,
    tbody:first-child tr:first-child td:last-child {
        .border-radius(0 4px 0 0);
    }

    // For first th or td in the first row in the first thead or tbody
    thead:last-child tr:last-child th:first-child,
    tbody:last-child tr:last-child td:first-child {
        .border-radius(0 0 0 4px);
    }

    thead:last-child tr:last-child th:last-child,
    tbody:last-child tr:last-child td:last-child {
        .border-radius(0 0 4px 0);
    }
}

ul.cpm-attachments {
    margin: 0 10px;
    border-top: 1px solid @borderColor;
    padding-top: 10px;

    li {
        display: inline-block;
        .vignette-effect(5px);
        padding: 5px;
        .border-radius(3px);
        margin: 0 10px 10px 0;
        vertical-align: top;
    }
}

/*--------------------------------------------------
:: Form
-------------------------------------------------- */
.cpm-form {
    width: 100%;
    overflow: hidden;

    .form-table {
        width: 70%;

        .form-field {
            max-width: 100%;
        }
    }

    .description {
        display: block;
    }

    .form-field {
        input[type=radio], input[type=checkbox] {
            width: auto;
        }
    }
}

/*--------------------------------------------------
:: Navigation
-------------------------------------------------- */
ul.cpm-nav{
    list-style: none;
    float: right;
    background: #298CBA;
    padding: 3px;
    margin: 0;

    li {
        display: inline-block;
        margin: 0;
        padding: 3px 10px;
        background: #fff;

        &.active {
            background: #298CBA;

            a {
                color: #fff;
                font-weight: bold;
            }
        }

        a {
            text-decoration: none;
        }
    }
}

.cpm-nav-title {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    .border-radius(0 0 5px 5px);
    border-top: none;
    color: #898989;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}


/*--------------------------------------------------
:: Project
-------------------------------------------------- */
form.cpm-project-form {
    .cpm-form-item {
        display: block;
        clear: left;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;

        label {
            float: left;
            width: 140px;
            font-size: 13px
        }

        .cpm-form-input{
            margin-left: 140px;
            width: 60%;
        }

        input[type=text] {
            padding: 5px 10px;
            width: 350px;
        }

        select {
            min-width: 200px;
        }

        #project-status-text {
            font-weight: bold;
            color: green;
        }

        select#project_coworker {
            min-width: 350px;
        }
    }
}

/*--------------------------------------------------
:: Message
-------------------------------------------------- */
.cpm-single {
    background-color: @backgroundColor;
    border: 1px solid @borderColor;
    // padding: 0 10px 10px 10px;
    .border-radius(3px);

    .cpm-entry-title {
        #gradient .vertical(@backgroundColor, #ececec);
        border-bottom: 1px solid @borderColor;
        padding: 8px 10px;
        margin: 0;
        font-size: 13px;
    }

    .cpm-inner {
        margin: 0 10px;
    }

    .cpm-entry-meta {
        margin: 10px 0;
        color: #888;

        .cpm-separator {
            color: @borderColor;
        }
    }

    .cpm-entry-detail {
        margin-bottom: 10px;
    }
}


/*--------------------------------------------------
:: Comment
-------------------------------------------------- */

.cpm-comment-wrap {
    background-color: @backgroundColor;
    border: 1px solid @borderColor;
    .border-radius(3px);

    li.cpm-comment {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid @borderColor;
        border-top: 1px solid #fff;
        position: relative;

        &.odd {
            background-color: #fcfcfc;
        }

        .cpm-avatar {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 48px;
            height: 48px;
            padding: 3px;
            background: #D5D5D5;
            .border-radius(50%);

            img {
                .border-radius(50%);
            }
        }

        .cpm-comment-container {
            margin-left: 68px;

            .cpm-comment-meta {
                color: #888;
                font-size: 12px;
                
                .cpm-separator {
                    color: @borderColor;
                }
            }

            p {
                margin: 5px 0 10px 0;
            }
        }

        .cpm-upload-container {
            background: #fff;
            padding: 10px;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.cpm-comment-form-wrap {
    position: relative;
    border: 1px solid #DDD;
    .border-radius(5px);
    padding: 10px;
    margin-left: 75px;
    width: 500px;

    .cpm-avatar {
        position: absolute;
        top: 0;
        left: -65px;
        height: 48px;
        width: 48px;
        padding: 3px;
        background: #D5D5D5;
        .border-radius(50%);

        img {
            .border-radius(50%);
        }
    }

    .cpm-comment-form {
        font-size: 13px;

        legend {
            border-bottom: 1px solid #eee;
            padding-bottom: 5px;
            margin-bottom: 5px;
            width: 100%;
        }

        input[type=file] {
            border: 1px solid #ddd;
            .border-radius(5px);
        }

        textarea {
            padding: 10px;
            width: 100%;
            border: 1px solid #DDD;
        }

        .cpm-attachment-area {
            background: url('../images/attachment.png') 5px 10px no-repeat;
            color: #999;
            border: 1px dashed #DDD;
            padding: 10px 10px 10px 30px;
            margin: 10px 0;
            font-size: 13px;
            position: relative;
            line-height: 17px;
            .border-radius(5px);
        }

        .submit {
            padding: 10px 0 0 0;
        }
    }
}

/*--------------------------------------------------
:: Task List
-------------------------------------------------- */

.cpm-new-todolist-form {
    display: none;
}

.cpm-single-task {
    margin: 20px 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 10px 0;

    .cpm-todo-wrap {
        margin-left: 0;
        padding-left: 20px;
        position: relative;

        input[type="checkbox"] {
            margin-left: -20px;
            margin-right: 2px;
            margin-top: 3px;
            vertical-align: baseline;
        }

        &:hover {
            .cpm-todo-action {
                visibility: visible;
            }
        }

        .cpm-todo-action {
            padding: 1px 5px;
            background: #fff;
            float: right;

            a {
                display: block;
                padding: 5px;
                border-left: 1px solid #eee;

                &.cpm-todo-delete {
                    border-bottom: 1px solid #eee;
                }
            }
        }

        .cpm-todo-content {

            a {
                color: #333;

                &:hover {
                    text-decoration: underline;
                    color: #21759b;
                }
            }

            .cpm-assigned-user, .cpm-due-date {
                .border-radius(3px);
                background: #ddd;
                font-size: 12px;
                line-height: 12px;
                padding: 1px 7px;
                color: #999;
                margin-right: 5px;
            }

            .cpm-completed-by {
                font-size: 11px;
                color: #999;
            }
        }

        .cpm-task-edit-form {
            display: none;
        }
    }
}

ul.cpm-todolists {

    .submit {
        margin: 10px 0;
        padding: 0 0 15px 0;
    }

    article.cpm-todolist {
        position: relative;

        header {
            h3 {
                margin-bottom: 3px;
                font-size: 17px;
            }

            .cpm-entry-detail {
                font-style: italic;
            }

            .cpm-list-actions{
                font-size: 11px;
                border: 1px solid #eee;
                border-right: none;
                .border-radius(5px 0 0 5px);
                padding: 1px 5px;
                background: #fff;
                visibility: hidden;
                position: absolute;
                left: -63px;
                top: 0;
                z-index: 99;
            }

            &:hover {
                .cpm-list-actions {
                    visibility: visible;
                }
            }
        }

        .cpm-list-edit-form {
            display: none;
        }

        p {
            margin: 0;
            padding-bottom: 10px;
        }

        > ul {
            margin: 0 0 0 7px;
            min-height: 6px;
            position: relative;
            list-style: none;

            li {
                clear: both;
                line-height: 20px;
                padding-left: 19px;
                padding-right: 110px;
                word-wrap: break-word;

                .cpm-todo-wrap {
                    margin-left: -19px;
                    padding-left: 20px;
                    position: relative;

                    input[type="checkbox"] {
                        margin-left: -20px;
                        margin-right: 2px;
                        margin-top: 3px;
                        vertical-align: baseline;
                    }

                    &:hover {
                        .cpm-todo-action {
                            visibility: visible;
                        }
                    }

                    .cpm-todo-action {
                        font-size: 11px;
                        border: 1px solid #eee;
                        border-right: none;
                        .border-radius(5px 0 0 5px);
                        padding: 1px 5px;
                        background: #fff;
                        visibility: hidden;
                        position: absolute;
                        left: -63px;
                        top: 0;
                        z-index: 99;
                    }

                    .cpm-todo-content {

                        a {
                            color: #333;

                            &:hover {
                                text-decoration: underline;
                                color: #21759b;
                            }
                        }

                        .cpm-comment-count {
                            .border-radius(3px);
                            // background: lighten(@linkColor, 10%);
                            background: #E2E9F8;
                            font-size: 12px;
                            line-height: 12px;
                            padding: 1px 7px;
                            margin-right: 5px;
                            
                            a {
                                color: #999;
                            }
                        }

                        .cpm-assigned-user, .cpm-due-date {
                            .border-radius(3px);
                            background: #ddd;
                            font-size: 12px;
                            line-height: 12px;
                            padding: 1px 7px;
                            color: #999;
                            margin-right: 5px;
                        }

                        .cpm-completed-by {
                            font-size: 11px;
                            color: #999;
                        }
                    }

                    .cpm-task-edit-form {
                        display: none;
                    }
                }
            }
        }

        ul.cpm-todo-completed {

            .cpm-todo-wrap {
                .cpm-todo-action {
                    left: -43px;
                }

                .cpm-todo-content a {
                    font-size: 11px;
                    line-height: 14px;
                    color: #999;
                }
            }
        }

    }

    > li {
        margin: -10px 0 10px;
        padding: 10px 0;
    }
}

/*--------------------------------------------------
:: Milestone
-------------------------------------------------- */
.cpm-milestones {

    .cpm-milestone {
        background: #FAF9E4;
        padding: 10px;
        margin: 0 0 10px 0;
        border: 1px solid #ddd;
        .border-radius(5px);

        &.late {
            background: #F9ECE6;
        }

        &.complete {
            background: #E4FFE4;
        }
    }
}

.cpm-progress {
    overflow: hidden;
    height: 18px;
    #gradient > .vertical(#f5f5f5, #f9f9f9);
    .box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
    .border-radius(4px);

    .bar {
        width: 0%;
        height: 18px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        #gradient > .vertical(#149bdf, #0480be);
        .box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
        .transition(width .6s ease);
    }

    .text {
        margin-top: -18px;
        color: #636262;
        font-size: 12px;
        padding: 0 25px;
    }
}

.cpm-progress-info .bar {
  #gradient > .vertical(#62c462, #57a957);
}

ul.cpm-links {
    li {
        display: inline;

        a {
            text-decoration: none;
            background: #298CBA;
            color: #fff;
            padding: 2px 6px;
            .border-radius(5px);

            &.cpm-loading {
                background: #eee;
            }
        }
    }
}

label.error {
    color: red;
}

input.error {
    border: 1px solid red;
}

.cpm-uploaded-item {
    background: #eee;
    padding: 10px;
    overflow: hidden;
    .border-radius(5px);
    margin: 0 0 10px 0;

    img {
        float: left;
        border: 1px solid #ddd;
        padding: 5px;
        margin-right: 20px;
        .border-radius(5px);
        background: #fff;
        max-width: 150px;
    }

}