@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cvajh8');
  src:  url('fonts/icomoon.eot?cvajh8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cvajh8') format('truetype'),
    url('fonts/icomoon.woff?cvajh8') format('woff'),
    url('fonts/icomoon.svg?cvajh8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pm-unlock:before {
  content: "\e90c";
}
.icon-pm-check-circle:before {
  content: "\e919";
}
.icon-pm-archive:before {
  content: "\e91b";
}
.icon-pm-copy-files:before {
  content: "\e918";
}
.icon-pm-undo-arrow:before {
  content: "\e91a";
}
.icon-pm-cross:before {
  content: "\e917";
  color: #e9485e;
}
.icon-pm-single-user:before {
  content: "\e916";
  color: #d4d6d6;
}
.icon-pm-up-arrow:before {
  content: "\e915";
  color: #788383;
}
.icon-pm-stop:before {
  content: "\e914";
}
.icon-pm-rigth-arrow:before {
  content: "\e912";
  color: #d4d6d6;
}
.icon-pm-play:before {
  content: "\e913";
  color: #d4d6d6;
}
.icon-pm-copy:before {
  content: "\e903";
  color: #d4d6d6;
}
.icon-pm-private:before {
  content: "\e902";
  color: #d4d6d6;
}
.icon-pm-delete:before {
  content: "\e901";
  color: #e9485e;
}
.icon-pm-user:before {
  content: "\e900";
  color: #ababab;
}
.icon-pm-align-left:before {
  content: "\e904";
  color: #d6d6d6;
}
.icon-pm-calendar:before {
  content: "\e905";
  color: #d4d6d6;
}
.icon-pm-clip:before {
  content: "\e906";
  color: #d4d6d6;
}
.icon-pm-completed:before {
  content: "\e907";
  color: #7ed321;
}
.icon-pm-down-arrow:before {
  content: "\e908";
  color: #ccd4d9;
}
.icon-pm-incomplete:before {
  content: "\e909";
  color: #d6d6d6;
}
.icon-pm-more-options:before {
  content: "\e90a";
  color: #d6d6d6;
}
.icon-pm-pencil:before {
  content: "\e90b";
  color: #d6d6d6;
}
.icon-pm-smile:before {
  content: "\e90d";
  color: #d4d6d6;
}
.icon-pm-sorting:before {
  content: "\e90e";
  color: #d4d6d6;
}
.icon-pm-star:before {
  content: "\e90f";
  color: #d6d6d6;
}
.icon-pm-tag:before {
  content: "\e910";
  color: #d4d6d6;
}
.icon-pm-watch:before {
  content: "\e911";
  color: #d4d6d6;
}
.icon-pm-filter:before {
  content: "\ea5b";
}
