@font-face {
  font-family: 'icomoon';
  src:  url('icomoon-fonts/icomoon.eot?o5sv3v');
  src:  url('icomoon-fonts/icomoon.eot?o5sv3v#iefix') format('embedded-opentype'),
    url('icomoon-fonts/icomoon.ttf?o5sv3v') format('truetype'),
    url('icomoon-fonts/icomoon.woff?o5sv3v') format('woff'),
    url('icomoon-fonts/icomoon.svg?o5sv3v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pm-automation:before {
  content: "\e935";
}
.icon-pm-fullscreen:before {
  content: "\e934";
}
.icon-pm-capability:before {
  content: "\e91c";
  color: #ccc;
}
.icon-pm-integration:before {
  content: "\e932";
  color: #ccc;
}
.icon-pm-switch-project:before {
  content: "\e931";
  color: #9ea3a7;
}
.icon-pm-enter:before {
  content: "\e92e";
  color: #5d5d5d;
}
.icon-pm-navigation:before {
  content: "\e92f";
  color: #5d5d5d;
}
.icon-pm-invoice:before {
  content: "\e92d";
}
.icon-pm-gantchart:before {
  content: "\e930";
  color: #c9c9c9;
}
.icon-pm-activity:before {
  content: "\e92c";
  color: #c9c9c9;
}
.icon-pm-search:before {
  content: "\e92b";
  color: #95a5a6;
}
.icon-pm-settings:before {
  content: "\e92a";
  color: #c9c9c9;
}
.icon-pm-task-count:before {
  content: "\e926";
  color: #d6d6d6;
}
.icon-pm-comment:before {
  content: "\e927";
  color: #d6d6d6;
}
.icon-pm-left-arrow:before {
  content: "\e928";
  color: #95a5a6;
}
.icon-pm-move:before {
  content: "\e929";
  color: #d7dee2;
}
.icon-pm-drag-drop:before {
  content: "\e923";
  color: #d7dee2;
}
.icon-pm-kanboard-view:before {
  content: "\e924";
  color: #d7dee2;
}
.icon-pm-list-view:before {
  content: "\e925";
  color: #1a9ed4;
}
.icon-pm-task-filter:before {
  content: "\e922";
  color: #fff;
}
.icon-pm-file:before {
  content: "\e91e";
  color: #f39c12;
}
.icon-pm-mileston:before {
  content: "\e91f";
  color: #9b59b6;
}
.icon-pm-discussion:before {
  content: "\e920";
  color: #1abc9c;
}
.icon-pm-task-list:before {
  content: "\e921";
  color: #e9485e;
}
.icon-pm-overview:before {
  content: "\e91d";
  color: #3b80f4;
}
.icon-pm-archive:before {
  content: "\e91b";
}
.icon-pm-copy-files:before {
  content: "\e918";
}
.icon-pm-undo-arrow:before {
  content: "\e91a";
}
.icon-pm-cross:before {
  content: "\e917";
  color: #e9485e;
}
.icon-pm-single-user:before {
  content: "\e916";
  color: #d4d6d6;
}
.icon-pm-up-arrow:before {
  content: "\e915";
  color: #788383;
}
.icon-pm-stop:before {
  content: "\e914";
}
.icon-pm-rigth-arrow:before {
  content: "\e912";
  color: #d4d6d6;
}
.icon-pm-play:before {
  content: "\e913";
  color: #d4d6d6;
}
.icon-pm-copy:before {
  content: "\e903";
  color: #d4d6d6;
}
.icon-pm-private:before {
  content: "\e902";
  color: #d4d6d6;
}
.icon-pm-delete:before {
  content: "\e901";
  color: #e9485e;
}
.icon-pm-user:before {
  content: "\e900";
  color: #ababab;
}
.icon-pm-align-left:before {
  content: "\e904";
  color: #d6d6d6;
}
.icon-pm-calendar:before {
  content: "\e905";
  color: #d4d6d6;
}
.icon-pm-clip:before {
  content: "\e906";
  color: #d4d6d6;
}
.icon-pm-completed:before {
  content: "\e907";
  color: #7ed321;
}
.icon-pm-down-arrow:before {
  content: "\e908";
  color: #ccd4d9;
}
.icon-pm-incomplete:before {
  content: "\e909";
  color: #d6d6d6;
}
.icon-pm-more-options:before {
  content: "\e90a";
  color: #d6d6d6;
}
.icon-pm-pencil:before {
  content: "\e90b";
  color: #d6d6d6;
}
.icon-pm-smile:before {
  content: "\e90d";
  color: #d4d6d6;
}
.icon-pm-sorting:before {
  content: "\e90e";
  color: #d4d6d6;
}
.icon-pm-star:before {
  content: "\e90f";
  color: #d6d6d6;
}
.icon-pm-tag:before {
  content: "\e910";
  color: #d4d6d6;
}
.icon-pm-watch:before {
  content: "\e911";
  color: #d4d6d6;
}
.icon-label_outline:before {
  content: "\e933";
}
.icon-pm-check-circle:before {
  content: "\e919";
}
.icon-pm-unlock:before {
  content: "\e90c";
}
.icon-pm-eye:before {
  content: "\e9ce";
}
.icon-pm-loop:before {
  content: "\ea2e";
}
.icon-pm-filter:before {
  content: "\ea5b";
}







  /*
    Flaticon icon font: Flaticon
    Creation date: 07/03/2019 04:34
    */

@font-face {
  font-family: "Flaticon";
  src: url("flaticon-fonts/Flaticon.eot");
  src: url("flaticon-fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("flaticon-fonts/Flaticon.woff2") format("woff2"),
       url("flaticon-fonts/Flaticon.woff") format("woff"),
       url("flaticon-fonts/Flaticon.ttf") format("truetype"),
       url("flaticon-fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("flaticon-fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-document:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-data-analytics:before { content: "\f103"; }
.flaticon-people:before { content: "\f104"; }
.flaticon-more:before { content: "\f105"; }
.flaticon-chat:before { content: "\f106"; }
.flaticon-edit:before { content: "\f107"; }
.flaticon-delete:before { content: "\f108"; }
.flaticon-private:before { content: "\f109"; }
.flaticon-lock:before { content: "\f10a"; }
.flaticon-move:before { content: "\f10b"; }
.flaticon-calendar:before { content: "\f10c"; }
.flaticon-clock:before { content: "\f10d"; }
.flaticon-copy:before { content: "\f10e"; }
.flaticon-check-mark:before { content: "\f10f"; }
.flaticon-cross:before { content: "\f110"; }
.flaticon-list:before { content: "\f111"; }
.flaticon-refresh:before { content: "\f112"; }
.flaticon-print:before { content: "\f113"; }
.flaticon-comment-black-oval-bubble-shape:before { content: "\f114"; }
.flaticon-menu-1:before { content: "\f115"; }
.flaticon-flag:before { content: "\f116"; }
.flaticon-plus:before { content: "\f117"; }
.flaticon-magnifying-glass-browser:before { content: "\f118"; }
.flaticon-bookmark-star:before { content: "\f119"; }
.flaticon-pm-archive:before { content: "\f11a"; }
.flaticon-pm-discussions:before { content: "\f11b"; }
.flaticon-planning:before { content: "\f11c"; }
.flaticon-planning-1:before { content: "\f11d"; }
.flaticon-eye:before { content: "\f11e"; }
.flaticon-filter-tool-black-shape:before { content: "\f11f"; }
.flaticon-export:before { content: "\f120"; }
.flaticon-data-export-symbol-of-a-window-with-an-arrow:before { content: "\f121"; }
.flaticon-pdf:before { content: "\f122"; }
.flaticon-resume:before { content: "\f123"; }
.flaticon-test:before { content: "\f124"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f125"; }
.flaticon-up-arrow:before { content: "\f126"; }
.flaticon-task:before { content: "\f127"; }
.flaticon-pm-archive-1:before { content: "\f128"; }
.flaticon-pm-automation:before { content: "\f129"; }
.flaticon-move-1:before { content: "\f12a"; }
.flaticon-label-outline:before { content: "\f12b"; }
.flaticon-pm-gantchart:before { content: "\f12c"; }
.flaticon-pm-activity:before { content: "\f12d"; }
.flaticon-pm-completed:before { content: "\f12e"; }
.flaticon-pm-delete:before { content: "\f12f"; }
.flaticon-pm-task-filter:before { content: "\f130"; }
.flaticon-pm-align-left:before { content: "\f131"; }
.flaticon-pm-unlock:before { content: "\f132"; }
.flaticon-pm-capability:before { content: "\f133"; }
.flaticon-pm-eye:before { content: "\f134"; }
.flaticon-pm-comment:before { content: "\f135"; }
.flaticon-pm-move:before { content: "\f136"; }
.flaticon-pm-star:before { content: "\f137"; }
.flaticon-pm-calendar:before { content: "\f138"; }
.flaticon-pm-clip:before { content: "\f139"; }
.flaticon-pm-down-arrow:before { content: "\f13a"; }
.flaticon-pm-left-arrow:before { content: "\f13b"; }
.flaticon-pm-discussion:before { content: "\f13c"; }
.flaticon-pm-copy-files:before { content: "\f13d"; }
.flaticon-pm-invoice:before { content: "\f13e"; }
.flaticon-pm-pencil:before { content: "\f13f"; }
.flaticon-pm-cross:before { content: "\f140"; }
.flaticon-pm-search:before { content: "\f141"; }
.flaticon-pm-drag-drop:before { content: "\f142"; }
.flaticon-pm-check-circle:before { content: "\f143"; }
.flaticon-pm-copy:before { content: "\f144"; }
.flaticon-pm-enter:before { content: "\f145"; }
.flaticon-pm-incomplete:before { content: "\f146"; }
.flaticon-pm-file:before { content: "\f147"; }
.flaticon-pm-fullscreen:before { content: "\f148"; }
.flaticon-pm-loop:before { content: "\f149"; }
.flaticon-pm-filter:before { content: "\f14a"; }
.flaticon-pm-integration:before { content: "\f14b"; }
.flaticon-pm-kanboard-view:before { content: "\f14c"; }
.flaticon-pm-mileston:before { content: "\f14d"; }
.flaticon-pm-list-view:before { content: "\f14e"; }
.flaticon-pm-settings:before { content: "\f14f"; }
.flaticon-pm-smile:before { content: "\f150"; }
.flaticon-pm-sorting:before { content: "\f151"; }
.flaticon-pm-play:before { content: "\f152"; }
.flaticon-pm-stop:before { content: "\f153"; }
.flaticon-pm-rigth-arrow:before { content: "\f154"; }
.flaticon-pm-tag:before { content: "\f155"; }
.flaticon-pm-overview:before { content: "\f156"; }
.flaticon-pm-user:before { content: "\f157"; }
.flaticon-pm-more-options:before { content: "\f158"; }
.flaticon-pm-navigation:before { content: "\f159"; }
.flaticon-pm-private:before { content: "\f15a"; }
.flaticon-pm-single-user:before { content: "\f15b"; }
.flaticon-pm-switch-project:before { content: "\f15c"; }
.flaticon-pm-task-count:before { content: "\f15d"; }
.flaticon-pm-task-list:before { content: "\f15e"; }
.flaticon-pm-undo-arrow:before { content: "\f15f"; }
.flaticon-pm-watch:before { content: "\f160"; }
.flaticon-pm-up-arrow:before { content: "\f161"; }
