#wedevs-project-manager .pm-popup-menu {
  position: absolute;
  z-index: 9999;
  background: #fff;
  width: 145px;
  display: block;
  box-shadow: 0px 2px 40px 0px rgba(214, 214, 214, 0.6);
  text-align: left;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #ddd;
}
#wedevs-project-manager .pm-popup-menu-ul:before {
  position: absolute;
  z-index: 99999;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  top: -16px;
  border-bottom-color: #ddd;
  left: 115px;
  border-radius: 3px;
  content: "";
}
#wedevs-project-manager .pm-popup-menu-ul:after {
  position: absolute;
  z-index: 99999;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  top: -14px;
  border-bottom-color: #fff;
  left: 115px;
  border-radius: 3px;
  content: "";
}
#wedevs-project-manager ul {
  margin: 0;
  padding: 0;
}
#wedevs-project-manager .pm-font-size-16 {
  font-size: 16px;
}
#wedevs-project-manager .pm-font-size-13 {
  font-size: 13px;
}
#wedevs-project-manager .pm-font-size-12 {
  font-size: 12px;
}
#wedevs-project-manager .pm-font-size-11 {
  font-size: 11px;
}
#wedevs-project-manager .pm-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wedevs-project-manager .pm-light-color {
  color: #A5ACB1;
}
#wedevs-project-manager .pm-light-font {
  font-size: 13px;
  color: #BDC3C7;
}
#wedevs-project-manager .pm-dark-color {
  color: #000000;
}
#wedevs-project-manager .pm-button {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  border: none;
}
#wedevs-project-manager .pm-primary {
  background: #1A9ED4;
  color: #fff;
}
#wedevs-project-manager .pm-secondary {
  background: #f7f7f7;
  color: #555;
  border: 1px solid #e6e6e6;
}
#wedevs-project-manager .pm-secondary {
  background: #f7f7f7;
  color: #555;
}
#wedevs-project-manager .pm-h2 {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
#wedevs-project-manager .popup-mask {
  position: fixed;
  z-index: 10000;
  top: 32px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: table;
  transition: opacity 0.3s ease;
}
#wedevs-project-manager .popup-mask .popup-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 3px;
  padding: 22px 25px;
  max-height: 92%;
  overflow: scroll;
  position: relative;
}
#wedevs-project-manager #pm-single-task-wrap .close-vue-modal {
  position: absolute;
  right: 311px;
  background: #000;
  color: #fff;
  z-index: 999999;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header {
  display: grid;
  grid-template-columns: 50% 50%;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .header-meta {
  line-height: 0;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .header-meta .task-action {
  position: relative;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .header-meta .task-action .action-menu {
  position: absolute;
  z-index: 9999;
  background: #fff;
  width: 145px;
  display: block;
  box-shadow: 0px 2px 40px 0px rgba(214, 214, 214, 0.6);
  text-align: left;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  left: 45px;
  top: 31px;
  left: -122px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .header-meta .task-action .action-menu .action-menu-ul:before {
  position: absolute;
  z-index: 99999;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  top: -16px;
  border-bottom-color: #ddd;
  left: 115px;
  border-radius: 3px;
  content: "";
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .header-meta .task-action .action-menu .action-menu-ul:after {
  position: absolute;
  z-index: 99999;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  top: -14px;
  border-bottom-color: #fff;
  left: 115px;
  border-radius: 3px;
  content: "";
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .header-meta .task-action .action-menu .action-menu-ul li {
  padding: 16px 13px 0px 16px;
  margin: 0;
  border: none;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .header-meta .task-action .action-menu .action-menu-ul li a {
  font-size: 12px;
  color: #000000;
  margin-left: 5px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .header-meta .task-action .action-menu .action-menu-ul li:last-child {
  padding-bottom: 16px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .incomplete {
  height: 31px;
  padding: 4px 10px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  font-size: 1vw;
  width: 50%;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .incomplete a {
  color: #A5ACB1;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .completed {
  height: 31px;
  padding: 4px 10px;
  border: 1px solid #7dd322;
  border-radius: 3px;
  font-size: 1vw;
  width: 39%;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .completed a {
  color: #A5ACB1;
}
#wedevs-project-manager #pm-single-task-wrap .pm-single-task-header .created-by {
  font-size: 1vw;
  margin-left: 45px;
}
#wedevs-project-manager #pm-single-task-wrap .task-title-wrap {
  margin: 25px 0;
}
#wedevs-project-manager #pm-single-task-wrap .task-title-wrap .task-title-text {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
#wedevs-project-manager #pm-single-task-wrap .pm-assigned-user {
  margin-right: 5px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-assigned-user img {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  display: inline-block;
}
#wedevs-project-manager #pm-single-task-wrap .assigne-users .pm-assigned-user {
  display: inline-flex;
}
#wedevs-project-manager #pm-single-task-wrap .assigne-users .pm-assigned-user a {
  display: inline-flex;
}
#wedevs-project-manager #pm-single-task-wrap .assigne-users .icon-pm-user {
  position: relative;
  font-size: 23px;
  top: -1px;
  left: 1px;
}
#wedevs-project-manager #pm-single-task-wrap .assigne-users .icon-pm-user .pm-multiselect-single-task {
  position: absolute;
}
#wedevs-project-manager #pm-single-task-wrap .assigne-users .icon-pm-user .pm-multiselect-single-task .multiselect {
  width: 200px;
}
#wedevs-project-manager #pm-single-task-wrap .options-wrap {
  margin-bottom: 20px;
  line-height: 0;
}
#wedevs-project-manager #pm-single-task-wrap .option-icon-groups .icon-pm-calendar {
  position: relative;
  display: flex;
  align-content: center;
}
#wedevs-project-manager #pm-single-task-wrap .option-icon-groups .icon-pm-calendar .pm-task-date-wrap {
  background: none;
  color: #848484;
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
#wedevs-project-manager #pm-single-task-wrap .option-icon-groups .icon-pm-calendar .task-date {
  position: absolute;
  left: -251px;
  top: 23px;
}
#wedevs-project-manager #pm-single-task-wrap .option-icon-groups .individual-group-icon,
#wedevs-project-manager #pm-single-task-wrap .option-icon-groups .pm-action-wrap {
  margin-left: 5px;
}
#wedevs-project-manager #pm-single-task-wrap .description-wrap {
  margin-bottom: 20px;
}
#wedevs-project-manager #pm-single-task-wrap .description-wrap .action-content {
  border: 1px solid #ECECEC;
  padding: 13px;
  border-radius: 3px;
}
#wedevs-project-manager #pm-single-task-wrap .description-wrap .task-description {
  margin-left: 10px;
  color: #B0BABC;
}
#wedevs-project-manager #pm-single-task-wrap .discuss-label {
  margin-bottom: 18px;
}
#wedevs-project-manager #pm-single-task-wrap .task-activities {
  margin-top: 30px;
}
#wedevs-project-manager #pm-single-task-wrap .task-activities .activity-title {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}
#wedevs-project-manager #pm-single-task-wrap .task-activities .single-task-activity-ul {
  margin-top: 18px;
}
#wedevs-project-manager #pm-single-task-wrap .task-activities .single-task-activity-ul li {
  margin-bottom: 15px;
  padding: 0;
  border: none;
}
#wedevs-project-manager #pm-single-task-wrap .task-activities .single-task-activity-ul .activity-li-content {
  display: flex;
  font-size: 13px;
}
#wedevs-project-manager #pm-single-task-wrap .task-activities .single-task-activity-ul .activity-li-content strong {
  font-size: 13px;
  font-weight: normal;
}
#wedevs-project-manager #pm-single-task-wrap .task-activities .single-task-activity-ul .activity-author-image {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin-right: 10px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-comment-form .attach-text {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  font-weight: bold;
}
#wedevs-project-manager #pm-single-task-wrap .pm-comment-form .comment-action-chunk {
  display: flex;
}
#wedevs-project-manager #pm-single-task-wrap .pm-comment-form .comment-action-chunk .pm-button-cancel {
  margin-left: 5px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-comment-form .comment-action-chunk .pm-button-nofity-user {
  margin-left: 5px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .discuss-text {
  margin-bottom: 5px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-content {
  border: 1px solid #ECECEC;
  border-radius: 3px;
  padding: 18px;
  background: #FAFAFA;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-content .comment-content-ul .comment-li {
  margin-bottom: 10px;
  background: none;
  border: none;
  padding: 8px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-content .comment-content-ul .comment-li p {
  margin: 0;
  padding: 0;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-content .comment-header {
  display: flex;
  justify-content: space-between;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .pm-avatar img {
  height: 24px;
  width: 24px;
  border-radius: 12px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .author-date {
  width: 92%;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .author-date .pm-date {
  font-size: 13px;
  color: #9C9C9C;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .author-date .pm-author {
  font-size: 12px;
  font-weight: bold;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .pm-author {
  margin-right: 18px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .pm-comment-content {
  margin-left: 8%;
  margin-top: -4px;
  color: #000 !important;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-field-content {
  padding: 8px 0px 0px 8px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-field-content .comment-field-avatar {
  align-self: baseline;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-field-content .comment-field {
  width: 92%;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .comment-field-content .comment-field .comment-field-text {
  border: 1px solid #ECECEC;
  padding: 8px;
  border-radius: 3px;
  background: #FFFFFF;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .mce-tinymce {
  box-shadow: none;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .pm-comment-acction {
  width: 38%;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .pm-attachments li {
  display: inline-block;
  margin: 18px 11px 0 0;
  border: none;
  padding: 0;
}
#wedevs-project-manager #pm-single-task-wrap .pm-task-comment-wrap .pm-attachments li img {
  margin: 0;
}
#wedevs-project-manager #pm-single-task-wrap .pm-attachment-items .pm-uploaded-item {
  background: #f1f1f1;
  padding: 10px 10px 4px 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
}
#wedevs-project-manager #pm-single-task-wrap .pm-attachment-items .pm-uploaded-item img {
  margin-right: 13px;
}
#wedevs-project-manager #pm-single-task-wrap .pm-attachment-items .pm-uploaded-item .attachment-file {
  display: flex;
}
