/node_modules/
/.idea
.env
.DS_Store
.travis.yml
npm-debug.log
/bin/
/tests/bootstrap.php
/tests/test-sample.php
phpcs.ruleset.xml
phpunit.xml.dist
composer.phar
/tmp
/build/
pm.sublime-project
phpcs-report.txt


