# wp-scripts has deep transitive deps that need hoisting under pnpm
public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=babel-*
public-hoist-pattern[]=webpack*
public-hoist-pattern[]=postcss*
shamefully-hoist=true
