<div class="progress-content">
  
    <div class="circle"></div>
    <div class="text"><span>90%</span></div>

</div>

<style>


.progress-content .circle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4b39e6;
    clip: rect(auto 50px auto auto);
    position: absolute;
    border-radius: 100%;
}

.progress-content {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-content .text {
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}


</style>
