
<article class="cpm-todolist">
    <header class="cpm-list-header">
        <a href="" class="close-list-single dashicons dashicons-dismiss" @click.prevent="hideTaskListDetails(list)" v-show="list.full_view_mode"></a>
        <h3>
            <a href="#" @click.prevent="taskListDetails(list)" > {{list.post_title}} {{list.full_view_mode | json}} </a>
                <div class="cpm-right" v-if="list.ed_permission">
                <a href="#" class="cpm-icon-edit" title="Edit this List " @click.prevent="editList(list)"><span class="dashicons dashicons-edit"></span></a>
                <a href="#" class="cpm-btn cpm-btn-xs" @click.prevent="deletelist(list)" title="Delete this List" data-list_id="{{list.ID}}" data-confirm="Are you sure to delete this to-do list?"><span class="dashicons dashicons-trash"></span></a>
            </div>
            <div class="cpm-right cpm-pin-list" :class="{sticky_list:list.pin_list}" v-if="list.ed_permission" >
                <a title="" href="#" class=" cpm-icon-pin " @click.prevent="pinlist(list)"  ><span class="dashicons dashicons-admin-post"></span></a>
            </div>
            <div v-else>
                <a title="" href="#" class="cpm-list-pin cpm-icon-pin "   ><span class="dashicons dashicons-admin-post"></span></a>
            </div>
        </h3>

        <div class="cpm-entry-detail" >  {{list.post_content}}</div>

        <div class="cpm-list-edit-form" v-if="list.edit_mode">

            <todolistform
                :lists="list"
                :pid="current_project"
                :formaction="'cpm_update_list'"
                :wp_nonce="wp_nonce"
                :extra_fields="list.extra_data"
                :milestonelist="milestonelist"
                :slected_milestone="list.milestone"
                :fid="list.ID"

            ></todolistform>
        </div>
    </header>
    <div class="cpm-todo">
        <tasklist
            :list="list"
            :tasks.sync="list.tasklist"
            :pree_init_data="pree_init_data"
            :wp_nonce="wp_nonce"
            :current_project="current_project"
        ></tasklist>

    </div>
    <div v-show="list.show_new_task_form">
        <taskform
            :list="list"
            :task="etask"
            :text="text"
            :current_project="current_project"
            :form_action="'cpm_task_add'"
            :wp_nonce="wp_nonce"
            :pree_init_data="pree_init_data"
            :extra_fields=""
            :fid="list.ID"
        ></taskform>
    </div>
 <div class="cpm-new-btn"> <a href="#" class="cpm-btn add-task" @click.prevent="list.show_new_task_form=true">{{text.add_task_btn}}</a> </div>

 <div class="list-comments" v-if="list.full_view_mode">

     <comment_warp :comments="list.comments" :task="list" :pree_init_data="pree_init_data" :formid="'list-comments'" :uploderid="'lc'"></comment_warp>

 </div>

    <footer class="cpm-row cpm-list-footer">
        <div class="cpm-col-6">
            <div class="cpm-col-3 cpm-todo-complete">
                <a href="Link to task list ">
                    <span> {{list.complete}} </span>
                    Complete
                </a>
            </div>
            <div class="cpm-col-3 cpm-todo-incomplete">
                <a href=" Task List Link ">
                    <span> {{list.incomplete}} </span>
                    Incomplete
                </a>
            </div>
            <div class="cpm-col-3 cpm-todo-comment">
                <a href="List to task list ">
                    {{list.comment_count}} Comments
                </a>
            </div>
        </div>

        <div class="cpm-col-4 cpm-todo-prgress-bar">
            <div class="cpm-progress cpm-progress-info">
                <div :style="{width: list.complete_percent + '%'}" class="bar completed"></div>
            </div>
        </div>
        <div class=" cpm-col-1 no-percent">
            {{list.complete_percent}}%
        </div>
        <div class="clearfix"></div>
    </footer>


</article>