    /*
    Flaticon icon font: Flaticon
    Creation date: 20/12/2018 06:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-document:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-data-analytics:before { content: "\f103"; }
.flaticon-people:before { content: "\f104"; }
.flaticon-more:before { content: "\f105"; }
.flaticon-chat:before { content: "\f106"; }
.flaticon-edit:before { content: "\f107"; }
.flaticon-delete:before { content: "\f108"; }
.flaticon-private:before { content: "\f109"; }
.flaticon-lock:before { content: "\f10a"; }
.flaticon-move:before { content: "\f10b"; }
.flaticon-calendar:before { content: "\f10c"; }
.flaticon-clock:before { content: "\f10d"; }
.flaticon-copy:before { content: "\f10e"; }
.flaticon-check-mark:before { content: "\f10f"; }
.flaticon-cross:before { content: "\f110"; }
.flaticon-list:before { content: "\f111"; }
.flaticon-refresh:before { content: "\f112"; }
.flaticon-print:before { content: "\f113"; }
.flaticon-comment-black-oval-bubble-shape:before { content: "\f114"; }
.flaticon-menu-1:before { content: "\f115"; }
.flaticon-flag:before { content: "\f116"; }
.flaticon-plus:before { content: "\f117"; }
.flaticon-magnifying-glass-browser:before { content: "\f118"; }
.flaticon-bookmark-star:before { content: "\f119"; }
.flaticon-pm-archive:before { content: "\f11a"; }
.flaticon-pm-discussions:before { content: "\f11b"; }
.flaticon-pm-overview:before { content: "\f11c"; }
.flaticon-planning:before { content: "\f11d"; }
.flaticon-planning-1:before { content: "\f11e"; }
.flaticon-eye:before { content: "\f11f"; }
.flaticon-filter-tool-black-shape:before { content: "\f120"; }
.flaticon-export:before { content: "\f121"; }
.flaticon-data-export-symbol-of-a-window-with-an-arrow:before { content: "\f122"; }
.flaticon-pdf:before { content: "\f123"; }
.flaticon-resume:before { content: "\f124"; }
.flaticon-test:before { content: "\f125"; }
    
    $font-Flaticon-document: "\f100";
    $font-Flaticon-arrow: "\f101";
    $font-Flaticon-menu: "\f102";
    $font-Flaticon-data-analytics: "\f103";
    $font-Flaticon-people: "\f104";
    $font-Flaticon-more: "\f105";
    $font-Flaticon-chat: "\f106";
    $font-Flaticon-edit: "\f107";
    $font-Flaticon-delete: "\f108";
    $font-Flaticon-private: "\f109";
    $font-Flaticon-lock: "\f10a";
    $font-Flaticon-move: "\f10b";
    $font-Flaticon-calendar: "\f10c";
    $font-Flaticon-clock: "\f10d";
    $font-Flaticon-copy: "\f10e";
    $font-Flaticon-check-mark: "\f10f";
    $font-Flaticon-cross: "\f110";
    $font-Flaticon-list: "\f111";
    $font-Flaticon-refresh: "\f112";
    $font-Flaticon-print: "\f113";
    $font-Flaticon-comment-black-oval-bubble-shape: "\f114";
    $font-Flaticon-menu-1: "\f115";
    $font-Flaticon-flag: "\f116";
    $font-Flaticon-plus: "\f117";
    $font-Flaticon-magnifying-glass-browser: "\f118";
    $font-Flaticon-bookmark-star: "\f119";
    $font-Flaticon-pm-archive: "\f11a";
    $font-Flaticon-pm-discussions: "\f11b";
    $font-Flaticon-pm-overview: "\f11c";
    $font-Flaticon-planning: "\f11d";
    $font-Flaticon-planning-1: "\f11e";
    $font-Flaticon-eye: "\f11f";
    $font-Flaticon-filter-tool-black-shape: "\f120";
    $font-Flaticon-export: "\f121";
    $font-Flaticon-data-export-symbol-of-a-window-with-an-arrow: "\f122";
    $font-Flaticon-pdf: "\f123";
    $font-Flaticon-resume: "\f124";
    $font-Flaticon-test: "\f125";