    /*
    Flaticon icon font: Flaticon
    Creation date: 16/04/2020 04:18
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-document:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-data-analytics:before { content: "\f103"; }
.flaticon-people:before { content: "\f104"; }
.flaticon-more:before { content: "\f105"; }
.flaticon-edit:before { content: "\f106"; }
.flaticon-delete:before { content: "\f107"; }
.flaticon-private:before { content: "\f108"; }
.flaticon-lock:before { content: "\f109"; }
.flaticon-move:before { content: "\f10a"; }
.flaticon-calendar:before { content: "\f10b"; }
.flaticon-clock:before { content: "\f10c"; }
.flaticon-check-mark:before { content: "\f10d"; }
.flaticon-cross:before { content: "\f10e"; }
.flaticon-list:before { content: "\f10f"; }
.flaticon-refresh:before { content: "\f110"; }
.flaticon-comment-black-oval-bubble-shape:before { content: "\f111"; }
.flaticon-menu-1:before { content: "\f112"; }
.flaticon-flag:before { content: "\f113"; }
.flaticon-bookmark-star:before { content: "\f114"; }
.flaticon-pm-archive:before { content: "\f115"; }
.flaticon-pm-discussions:before { content: "\f116"; }
.flaticon-planning:before { content: "\f117"; }
.flaticon-planning-1:before { content: "\f118"; }
.flaticon-eye:before { content: "\f119"; }
.flaticon-filter-tool-black-shape:before { content: "\f11a"; }
.flaticon-data-export-symbol-of-a-window-with-an-arrow:before { content: "\f11b"; }
.flaticon-pdf:before { content: "\f11c"; }
.flaticon-resume:before { content: "\f11d"; }
.flaticon-test:before { content: "\f11e"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f11f"; }
.flaticon-up-arrow:before { content: "\f120"; }
.flaticon-task:before { content: "\f121"; }
.flaticon-pm-unlock:before { content: "\f122"; }
.flaticon-pm-task-filter:before { content: "\f123"; }
.flaticon-pm-star:before { content: "\f124"; }
.flaticon-pm-pencil:before { content: "\f125"; }
.flaticon-pm-move:before { content: "\f126"; }
.flaticon-pm-left-arrow:before { content: "\f127"; }
.flaticon-pm-invoice:before { content: "\f128"; }
.flaticon-pm-gantchart:before { content: "\f129"; }
.flaticon-pm-eye:before { content: "\f12a"; }
.flaticon-pm-clip:before { content: "\f12b"; }
.flaticon-pm-down-arrow:before { content: "\f12c"; }
.flaticon-pm-discussion:before { content: "\f12d"; }
.flaticon-pm-delete:before { content: "\f12e"; }
.flaticon-pm-cross:before { content: "\f12f"; }
.flaticon-move-1:before { content: "\f130"; }
.flaticon-pm-archive-1:before { content: "\f131"; }
.flaticon-label-outline:before { content: "\f132"; }
.flaticon-pm-automation:before { content: "\f133"; }
.flaticon-pm-calendar:before { content: "\f134"; }
.flaticon-pm-align-left:before { content: "\f135"; }
.flaticon-pm-capability:before { content: "\f136"; }
.flaticon-pm-activity:before { content: "\f137"; }
.flaticon-pm-comment:before { content: "\f138"; }
.flaticon-pm-completed:before { content: "\f139"; }
.flaticon-pm-copy-files:before { content: "\f13a"; }
.flaticon-pm-settings:before { content: "\f13b"; }
.flaticon-pm-search:before { content: "\f13c"; }
.flaticon-pm-stop:before { content: "\f13d"; }
.flaticon-pm-smile:before { content: "\f13e"; }
.flaticon-pm-play:before { content: "\f13f"; }
.flaticon-pm-sorting:before { content: "\f140"; }
.flaticon-pm-copy:before { content: "\f141"; }
.flaticon-pm-mileston:before { content: "\f142"; }
.flaticon-pm-loop:before { content: "\f143"; }
.flaticon-pm-list-view:before { content: "\f144"; }
.flaticon-pm-kanboard-view:before { content: "\f145"; }
.flaticon-pm-integration:before { content: "\f146"; }
.flaticon-pm-incomplete:before { content: "\f147"; }
.flaticon-pm-fullscreen:before { content: "\f148"; }
.flaticon-pm-filter:before { content: "\f149"; }
.flaticon-pm-file:before { content: "\f14a"; }
.flaticon-pm-check-circle:before { content: "\f14b"; }
.flaticon-pm-enter:before { content: "\f14c"; }
.flaticon-pm-drag-drop:before { content: "\f14d"; }
.flaticon-pm-user:before { content: "\f14e"; }
.flaticon-pm-tag:before { content: "\f14f"; }
.flaticon-pm-switch-project:before { content: "\f150"; }
.flaticon-pm-overview:before { content: "\f151"; }
.flaticon-pm-single-user:before { content: "\f152"; }
.flaticon-pm-rigth-arrow:before { content: "\f153"; }
.flaticon-pm-private:before { content: "\f154"; }
.flaticon-pm-navigation:before { content: "\f155"; }
.flaticon-pm-more-options:before { content: "\f156"; }
.flaticon-pm-task-count:before { content: "\f157"; }
.flaticon-pm-watch:before { content: "\f158"; }
.flaticon-pm-up-arrow:before { content: "\f159"; }
.flaticon-move-2:before { content: "\f15a"; }
.flaticon-cat:before { content: "\f15b"; }
.flaticon-camera:before { content: "\f15c"; }
.flaticon-import:before { content: "\f15d"; }
.flaticon-caret-down:before { content: "\f15e"; }
.flaticon-sort:before { content: "\f15f"; }
.flaticon-custom-field-icon:before { content: "\f160"; }
.flaticon-check-mark-1:before { content: "\f161"; }
.flaticon-color-picker:before { content: "\f162"; }
.flaticon-plus:before { content: "\f163"; }
.flaticon-more-1:before { content: "\f164"; }
.flaticon-minus:before { content: "\f165"; }
.flaticon-minus-1:before { content: "\f166"; }
.flaticon-text-document:before { content: "\f167"; }
    
    $font-Flaticon-document: "\f100";
    $font-Flaticon-arrow: "\f101";
    $font-Flaticon-menu: "\f102";
    $font-Flaticon-data-analytics: "\f103";
    $font-Flaticon-people: "\f104";
    $font-Flaticon-more: "\f105";
    $font-Flaticon-edit: "\f106";
    $font-Flaticon-delete: "\f107";
    $font-Flaticon-private: "\f108";
    $font-Flaticon-lock: "\f109";
    $font-Flaticon-move: "\f10a";
    $font-Flaticon-calendar: "\f10b";
    $font-Flaticon-clock: "\f10c";
    $font-Flaticon-check-mark: "\f10d";
    $font-Flaticon-cross: "\f10e";
    $font-Flaticon-list: "\f10f";
    $font-Flaticon-refresh: "\f110";
    $font-Flaticon-comment-black-oval-bubble-shape: "\f111";
    $font-Flaticon-menu-1: "\f112";
    $font-Flaticon-flag: "\f113";
    $font-Flaticon-bookmark-star: "\f114";
    $font-Flaticon-pm-archive: "\f115";
    $font-Flaticon-pm-discussions: "\f116";
    $font-Flaticon-planning: "\f117";
    $font-Flaticon-planning-1: "\f118";
    $font-Flaticon-eye: "\f119";
    $font-Flaticon-filter-tool-black-shape: "\f11a";
    $font-Flaticon-data-export-symbol-of-a-window-with-an-arrow: "\f11b";
    $font-Flaticon-pdf: "\f11c";
    $font-Flaticon-resume: "\f11d";
    $font-Flaticon-test: "\f11e";
    $font-Flaticon-arrow-down-sign-to-navigate: "\f11f";
    $font-Flaticon-up-arrow: "\f120";
    $font-Flaticon-task: "\f121";
    $font-Flaticon-pm-unlock: "\f122";
    $font-Flaticon-pm-task-filter: "\f123";
    $font-Flaticon-pm-star: "\f124";
    $font-Flaticon-pm-pencil: "\f125";
    $font-Flaticon-pm-move: "\f126";
    $font-Flaticon-pm-left-arrow: "\f127";
    $font-Flaticon-pm-invoice: "\f128";
    $font-Flaticon-pm-gantchart: "\f129";
    $font-Flaticon-pm-eye: "\f12a";
    $font-Flaticon-pm-clip: "\f12b";
    $font-Flaticon-pm-down-arrow: "\f12c";
    $font-Flaticon-pm-discussion: "\f12d";
    $font-Flaticon-pm-delete: "\f12e";
    $font-Flaticon-pm-cross: "\f12f";
    $font-Flaticon-move-1: "\f130";
    $font-Flaticon-pm-archive-1: "\f131";
    $font-Flaticon-label-outline: "\f132";
    $font-Flaticon-pm-automation: "\f133";
    $font-Flaticon-pm-calendar: "\f134";
    $font-Flaticon-pm-align-left: "\f135";
    $font-Flaticon-pm-capability: "\f136";
    $font-Flaticon-pm-activity: "\f137";
    $font-Flaticon-pm-comment: "\f138";
    $font-Flaticon-pm-completed: "\f139";
    $font-Flaticon-pm-copy-files: "\f13a";
    $font-Flaticon-pm-settings: "\f13b";
    $font-Flaticon-pm-search: "\f13c";
    $font-Flaticon-pm-stop: "\f13d";
    $font-Flaticon-pm-smile: "\f13e";
    $font-Flaticon-pm-play: "\f13f";
    $font-Flaticon-pm-sorting: "\f140";
    $font-Flaticon-pm-copy: "\f141";
    $font-Flaticon-pm-mileston: "\f142";
    $font-Flaticon-pm-loop: "\f143";
    $font-Flaticon-pm-list-view: "\f144";
    $font-Flaticon-pm-kanboard-view: "\f145";
    $font-Flaticon-pm-integration: "\f146";
    $font-Flaticon-pm-incomplete: "\f147";
    $font-Flaticon-pm-fullscreen: "\f148";
    $font-Flaticon-pm-filter: "\f149";
    $font-Flaticon-pm-file: "\f14a";
    $font-Flaticon-pm-check-circle: "\f14b";
    $font-Flaticon-pm-enter: "\f14c";
    $font-Flaticon-pm-drag-drop: "\f14d";
    $font-Flaticon-pm-user: "\f14e";
    $font-Flaticon-pm-tag: "\f14f";
    $font-Flaticon-pm-switch-project: "\f150";
    $font-Flaticon-pm-overview: "\f151";
    $font-Flaticon-pm-single-user: "\f152";
    $font-Flaticon-pm-rigth-arrow: "\f153";
    $font-Flaticon-pm-private: "\f154";
    $font-Flaticon-pm-navigation: "\f155";
    $font-Flaticon-pm-more-options: "\f156";
    $font-Flaticon-pm-task-count: "\f157";
    $font-Flaticon-pm-watch: "\f158";
    $font-Flaticon-pm-up-arrow: "\f159";
    $font-Flaticon-move-2: "\f15a";
    $font-Flaticon-cat: "\f15b";
    $font-Flaticon-camera: "\f15c";
    $font-Flaticon-import: "\f15d";
    $font-Flaticon-caret-down: "\f15e";
    $font-Flaticon-sort: "\f15f";
    $font-Flaticon-custom-field-icon: "\f160";
    $font-Flaticon-check-mark-1: "\f161";
    $font-Flaticon-color-picker: "\f162";
    $font-Flaticon-plus: "\f163";
    $font-Flaticon-more-1: "\f164";
    $font-Flaticon-minus: "\f165";
    $font-Flaticon-minus-1: "\f166";
    $font-Flaticon-text-document: "\f167";