/* pro badge styles for lite submenu */
.pro-project-menu-badge {
    margin: 2px 0 0 7px;
}

.wp-submenu-wrap li,
.pm-project-menu .pro-menu-item,
.wp-submenu-wrap span.pm-pro-badge,
.pm-project-menu .pro-menu-item span.pm-pro-badge {
    position: relative;
}

.pm-project-menu .pro-menu-item.child-item:hover .pm-pro-field-tooltip,
.pm-project-menu .pro-menu-item.child-item .pm-pro-badge:hover .pm-pro-field-tooltip {
    top: 335px;
}

/* pro prompts overlay css */
.pm-content-overlay,
.pm-project-module-content-overlay {
    top: 0;
    left: 0;
    width: 101.6%;
    height: 100%;
    z-index: 100;
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    margin-left: -20px;
}

.pm-content-overlay .button-upgrade-to-pro,
.pm-project-module-content-overlay .button-upgrade-to-pro {
    top: 50%;
    left: 50%;
    color: #fff;
    padding: 10px 15px;
    min-height: auto;
    background: #ff9000;
    border-radius: 5px;
}

.pm-content-overlay .button-upgrade-to-pro {
    position: fixed;
    transform: translate(0%, -50%);
}

.pm-project-module-content-overlay .button-upgrade-to-pro {
    position: absolute;
    transform: translate(-50%, -50%);
}

/* global styles */
#wpcontent {
    position: relative;
}

#wpcontent:hover .pm-content-overlay,
.pm-project-module-page:hover .pm-project-module-content-overlay {
    display: block;
}

.pm-discussion-privacy .pm-pro-badge .pm-pro-field-tooltip {
    top: 335px !important;
}

.pm-discussion-privacy .pm-pro-badge .pm-pro-field-tooltip .pro-button {
    width: auto !important;
    height: 40px !important;
}

.pm-discussion-privacy .pm-project-module-content-overlay .pro-button {
    width: auto !important;
    height: 35px !important;
    background: #ff9000 !important;
}

.report-task .pm-pro-badge > .pm-pro-field-tooltip {
    top: 395px !important;
}

.pm-my-reports.pm-my-taskoverview ~ .pm-pro-badge > .pm-pro-field-tooltip {
    top: 400px;
}

.report-task .pm-pro-badge > .pm-pro-field-tooltip > ul,
.pm-my-reports.pm-my-taskoverview ~ .pm-pro-badge > .pm-pro-field-tooltip > ul {
    overflow: hidden;
}

.report-task .pm-pro-badge > .pm-pro-field-tooltip .pro-button,
.pm-my-reports.pm-my-taskoverview ~ .pm-pro-badge > .pm-pro-field-tooltip .pro-button {
    border: none;
    box-shadow: none;
}
/* global styles end */
