/**
* Stylesheet for WP Projetc Manager 
* 
*
**/

@bodyColor: #f1f1f1 ;
@blueColor : #019dd6 ; 
@gray  : #cccccc;
@round : 10px;
@defaultRadius:30px;
@defaultFontSize : 14px;
@defaultFontColor : #000000;
 
@cercle:180px ; 
@defaultPadding : 10px;
@defaultWidth : 100% ;  
@defaultMargin : 10px;
@defaultColumnSpaceLeft : 10px;
@defaultColumnSpaceRight : 10px;
@defaultColumnSpaceTop : 10px;
@defaultColumnSpaceBottom :10px; 
@defaultGridPadding :25px; 

 

.cpm {
    background: @bodyColor;     
    color: @defaultFontColor ;
    margin-top: 20px;


    /**
    * CPM default css classes 
    */
    .clearfix{
        clear: both;
        height: 0px;
        font-size: 0px;
         
    }

    a {
        outline: 0;
        font-weight: bold;
        text-decoration: none;
        
    }

    a:active, 
    a:hover, 
    a:focus {
        text-decoration: none  ;
        border: 0 ;    
        outline: 0  ;
        -moz-outline-style: none; 
    }

    hr {

    }

    input {
        border: 0px;
        padding: 5px;

    }

    .small-text
    {
        font-size: small;
    }

    .cpm-no-margin {
        margin : 0px;
    }

    .cpm-no-padding 
    {
        padding: 0px;
    }

    .cpm-no-padding-bottom 
    {
        padding-bottom: 0px;
    }

    .cpm-no-margin-bottom 
    {
       margin-bottom: 0px;

    }

    .cpm-column-gap-left
    {

    }

    .rounded-corners(@radius:@defaultRadius) {
        -webkit-border-radius: @radius;
        -moz-border-radius: @radius;
        border-radius: @radius;

    }

    .cercale-corners {
        -webkit-border-radius: @cercle;
        -moz-border-radius: @cercle;
        border-radius: @cercle;
   }   

    .cpm-text-left {
        text-align: left;
    }

    .cpm-text-center {
        text-align: center;
    }

    .cpm-text-right {
        text-align: right;
    }

    /**
    * Input syte
    **/
    .cpm form select {
        
    }

    /**
    * Button Styes
    **/
    .cpm-btn {
    padding: 6px 10px;
    margin: 3px;
    border-radius: 3px;
    }

    .cpm-btn-xs
    {
        padding:   3px;
        font-size: small ; 
    }

     
    .cpm-btn-gray {
        .cpm-btn; 
        background: @gray;
         
    }

    .cpm-btn-red {
        background: RED; 
        color: #ffffff ; 
    }
 
    .cpm-btn-white {
        .cpm-btn; 
        background: #ffffff;
        a:hover
        {
            background: red;
        }
    } 

    .cpm-btn-submit {
        border: 0px;
        padding: 5px; 
        font-weight: bold;
    }

    .cpm-btn-blue {
        background: @blueColor; 
        color : #ffffff;
        a:hover
        {
            color: red;
        }
    }

    /**
    * Responsive Grid Column
    *
    **/
    .cpm-container {
        width: @defaultWidth; 
        margin: @defaultMargin;
        
    }

    .cpm-row-fluid {

    }

    .cpm-row {
        padding-left: @defaultPadding;
        padding-right: @defaultPadding;
        padding-bottom: @defaultPadding;

    }

    .cpm-col-1 {
         width: 7.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
         
    }

    .cpm-col-2 {
       width: 14.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight/2; 
        margin-bottom: @defaultColumnSpaceBottom/2; 
        
    }

    .cpm-col-3 {
        width: 23.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
         
    }

    .cpm-col-4 {
        width: 32.333333333%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
        
         
    }

    .cpm-col-5 {
        width: 38.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
         
    }

    .cpm-col-6 {
        width: 48.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
    }

    .cpm-col-7 {
        width: 56.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
        
    }

    .cpm-col-8 {
        width: 64.666666667%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
          

    }

    .cpm-col-9 {
        width: 73.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
       
    }

    .cpm-col-10 {
        width: 81.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
        
    }

    .cpm-col-11 {
        width: 89.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight; 
        margin-bottom: @defaultColumnSpaceBottom; 
        
    }

    .cpm-col-12 {
        width:100%; 
    }

    .cpm-last-col
    {
        float: right;
        margin-right: 0px;
        padding-right: 0px;
        color: #000;
        margin-bottom: @defaultColumnSpaceBottom; 
    }

    .show_desktop_only {
        display: block; 
    }

    .show_small_only {
         display: none; 
    }

    .hide_desktop_only {
         display: none; 
    }

    .hide_small_only {
         display: bloc; 
    }

   



    .cpm-top-bar {
        background: #ffffff;
        margin-bottom: 25px;
        padding-top : 10px;
        padding-bottom: 0px;

        .cpm-priject-search-bar {
            border-bottom: solid 1px @gray ;
            margin-bottom: 0px;
            padding-bottom: 0px;

            .cpm-col-9 {
                padding : 0px;
                margin : 0px;
            }
        }



        .cpm-top-right-btn {
            margin-top:12px; 


            .cpm-btn-blue {
                .cercale-corners;
                padding: 6px 2px 3px 2px;
                
                .dashicons 
                {
                     vertical-align: bottom;
                     font-size: @defaultFontSize;

                      
                     a{
                        color: #ffffff;
                     }
                }
            }

            .cpm-btn-white {
                .cpm-btn-white; 
                .rounded-corners;
                border: 1px solid @gray;

                a{
                    color: @gray ; 
                }
            }
             
            a {
                font-size:@defaultFontSize;
                margin-right: 5px;
                :hover {
                    color: #000000;
                }
            }  
        }

        .cpm-btn-submit {
            padding: 5px 25px;  
        }
        
        .cpm-project-search input{
            float: left;
            width: 45%; 
            margin-right: 10px;
        }
        .cpm-project-group   {
            padding: 0px;
            margin: 0px;
            box-shadow: 0 2px 2px -2px gray;

            ul.cpm-project-group-ul {
                margin-bottom: 0px;
                margin-left: 15px;
                padding-bottom: 0px;
                li {
                    border: none;
                    float: left;
                    margin-bottom: 0px;
                    margin-right: 15px;
                    a {
                        padding: 12px 20px;
                        min-width: 30px;
                        display: block;
                        text-align: center; 
                        text-decoration: none;
                        border-bottom: solid 2px #ffffff; 
                        color: #aaa;
                        
                        span.count {
                            padding: 0px 6px;
                            position:relative;
                            background:  @gray; 
                            margin-top: -15px;
                            margin-left: 5px;
                            border-radius: 15px;
                            top : 0; 
                        }
                        
                    }
                    a:hover {
                        border-bottom: solid 2px  @blueColor ;
                        color: #000000;
                        font-weight: bold;
                        span {
                            border-bottom: none;
                        }

                         span.count { 
                             background:  @blueColor; 
                             color: #ffffff ;
                         }
                    }
                    
                }
            }
            .cpm-col-5 {
                padding : 0px;
                margin:  0px;
            }
            ul.cpm-project-view {

                li {
                    float: right;
                    margin-right: 15px;

                    a {
                        color: @gray;

                        :hover, 
                        .active
                        {
                            color: @blueColor; 
                        }
                    }
                }
            }
        }
   }


/**
* Home Project Grid 
*
**/

    .cpm-project-grid { 
        margin: 0px ;
        padding: 0px;
        margin-right: -25px;

        .cpm-project {
             margin: @defaultGridPadding/2  @defaultGridPadding    @defaultGridPadding/1.6   0px ;
             margin-left: 0px;
             padding: 0px;
             width: 30.8255526% ;
             float: left; 
             box-shadow: none;
             height: 300px; 

            .project_head {
                background: #ffffff ; 
                padding: 12px 20px;
                border-bottom: #ccc solid 1px;
                min-height: 55px;
                color: #000 ; 
            }

            .project_head:hover {
                  background: @blueColor ; 
                  text-decoration: none;
                h5, 
                .cpm-settings-icon-cog span,  
                .cpm-project-detail {
                    color: #ffffff;
                }

            }

            .cpm-project-detail {
                font-size: @defaultFontSize; 
            }

            .cpm-project-meta {
                padding: @defaultPadding;
                 

                ul {
                    padding: 0px;  
                    margin: 0px;
                    margin-left: 5px;
                    margin-bottom: 50px;

                    li {
                        float: left;
                        width: 41% ;
                        list-style: none;  
                        
                        padding-left:  25px;
                        font-size: @defaultFontSize;
                        color: #888888;
                        line-height: 35px;
                    }




                }
            }

            .cpm-progress {
                position: absolute;
                bottom: 75px;
                height: 6px;
                width: 100%;
                border-radius: 0px;
                margin: 0px 0px 0px 0px;
                background-color:red;
                background-image: linear-gradient(to bottom, #dae5e8, #dae5e8);
                background-repeat: repeat-x;
                box-shadow: 0px ;
                border-radius: 0px;

                .completed { 
                    ackground-color:@blueColor;
                    background-image: linear-gradient(to bottom, @blueColor, @blueColor);
                }
            }

            .cpm-project-people {
                text-align: center;
            }

            .cpm-progress-percentage, 
            .cpm-project-action-list-view {
                display: none;
            }

            
        }
    }

                    li.message {
                      background: url('../images/bullet_green.png') no-repeat  0% 55%   ;  

                    }

                    li.todo {
                      background: url('../images/to-do-list.png') no-repeat  0% 55%   ;

                    }

                    li.todos {
                      background: url('../images/to-do-list.png') no-repeat  0% 55%   ;
                     
                    }

                    li.comment_li {
                      background: url('../images/comment.png') no-repeat  0% 55%   ;  
                      
                    }

                    li.file {
                      background: url('../images/docs.png') no-repeat  0% 55%   ;  
                    }

                    li.milestone_li {
                      background: url('../images/milestones.png') no-repeat  0% 55%   ; 
                       
                    }               

    .cpm-project-list
    {
        margin: 0px ;
        padding: 0px;

        .cpm-project {
             margin: @defaultGridPadding/2  @defaultGridPadding   @defaultGridPadding/1.5   0px ;
             margin-left: 0px;
             padding: 0px;
             width: 100% ;
             float: left; 
             box-shadow: none;
             height: 120px; 

            .project_head {
                background: #ffffff ; 
                padding: 12px 20px;
                min-height: 55px;
                color: #000 ; 
                height: 96px; 
                width : 20%; 
                float: left;
                margin-right: 10px;
            }

            .project_head:hover {
                  background: @blueColor ; 
                  text-decoration: none;
                h5, 
                .cpm-settings-icon-cog span,  
                .cpm-project-detail {
                    color: #ffffff;
                }

            }

            .cpm-project-detail {
                font-size: @defaultFontSize; 
            }

            .cpm-project-meta {
                padding: 0px;
                width: 28%; 
                float: left;
               
                ul {
                    padding: 0px;  
                    margin: 0px;
                    margin-left: 0px;
                    margin-bottom: 5px;

                    li {
                        float: left;
                        width: 40% ;
                        list-style: none;  
                        padding-left:  20px;
                        font-size: @defaultFontSize;
                        color: #888888;
                        line-height: 35px;
                    }
                }
            }

            .cpm-progress {
                position:relative ;
                float: left; 
                top: 55px;
                height: 6px;
                width: 15%;
                border-radius: 0px;
                margin: 0px 0px 0px 0px;
                background-color:red;
                background-image: linear-gradient(to bottom, #dae5e8, #dae5e8);
                background-repeat: repeat-x;
                box-shadow: 0px ;
                border-radius: 0px;


                .completed { 
                    ackground-color:@blueColor;
                    background-image: linear-gradient(to bottom, @blueColor, @blueColor);
                }
            }

            .cpm-progress-percentage {
                position:relative ;
                float: left; 
                top: 48px;
                margin-left: 5px;
                width: 3%;
            }

            .cpm-project-people {
                position: relative; 
                float: left;
                width: 20%; 
                text-align: center;
                top : 15px;
               
            }
 


             
        }
    }

 /**
    * Media Query for responsive 
    *
    **/
    @media only screen and (max-width: 780px) {

        .cpm-sm-col-1 {
            width: 100% ; 
        }

         .cpm-sm-col-2 {
            width: 100% ; 
        }

         .cpm-sm-col-3 {
            width: 100% ; 
        }

         .cpm-sm-col-4 {
           
        }

         .cpm-sm-col-5 {
            width: 100% ; 
        }

         .cpm-sm-col-6 {
            width: 100% ; 
        }

         .cpm-sm-col-7 {
            width: 100% ; 
        }

         .cpm-sm-col-8 {
            width: 100% ; 
        }

         .cpm-sm-col-9 {
            width: 100% ; 
        }

         .cpm-sm-col-10 {
            width: 100% ; 
        }

         .cpm-sm-col-11 {
            width: 100% ; 
        }

         .cpm-sm-col-12 {
            width: 100% ; 
        }

        .show_desktop_only {
            display: none; 
        }

        .show_small_only {
             display: block; 
        }

        .hide_desktop_only {
             display: block; 
        }

        .hide_small_only {
             display: none; 
        }


        .cpm-project-grid,
        .cpm-project-list {

            .cpm-project { 
                width: 100% ; 
                
                 margin: @defaultGridPadding/2  @defaultGridPadding   @defaultGridPadding/1.5   0px ;
                 margin-left: 0px;
                 padding: 0px;
                 box-shadow: none;
                 height: 300px; 

                .project_head {
                    background: #ffffff ; 
                    padding: 12px 20px;
                    border-bottom: #ccc solid 1px;
                    min-height: 55px;
                    color: #000 ; 
                    width: 100%; 
                }

                .project_head:hover {
                      background: @blueColor ; 
                      text-decoration: none;
                    h5, 
                    .cpm-settings-icon-cog span,  
                    .cpm-project-detail {
                        color: #ffffff;
                    }

                }

                .cpm-project-detail {
                    font-size: @defaultFontSize; 
                }

                .cpm-project-meta {
                    padding: @defaultPadding;
                     

                    ul {
                        padding: 0px;  
                        margin: 0px;
                        margin-left: 5px;
                        margin-bottom: 50px;

                        li {
                            float: left;
                            width: 41% ;
                            list-style: none;  
                            background: url('../images/bullet_green.png') no-repeat  0% 55%  ;
                            padding-left:  25px;
                            font-size: @defaultFontSize;
                            color: #888888;
                            line-height: 35px;
                        }
                    }
                }

                .cpm-progress {
                    position: absolute;
                    bottom: 75px;
                    height: 6px;
                    width: 100%;
                    border-radius: 0px;
                    margin: 0px 0px 0px 0px;
                    background-color:red;
                    background-image: linear-gradient(to bottom, #dae5e8, #dae5e8);
                    background-repeat: repeat-x;
                    box-shadow: 0px ;
                    border-radius: 0px;

                    .completed { 
                        ackground-color:@blueColor;
                        background-image: linear-gradient(to bottom, @blueColor, @blueColor);
                    }
                }

                .cpm-project-people {
                    text-align: center;
                }


            }
            
        }

    }


/**
* Project Header part 
**/

    .cpm-border-bottom { 
        border-bottom: solid 1px @gray;
        padding-bottom: 0px; 
    }

    .cpm-project-header {
     
        ul {
            margin-bottom: 0px;
            margin-left: 15px;
            padding-bottom: 0px;
            li {
                border: none;
                float: left;
                margin-bottom: 0px;
                margin-right: 5px;
                a {
                    padding: 12px 20px;
                    min-width: 30px;
                    display: block;
                    text-align: center; 
                    text-decoration: none;
                    border-bottom: solid 2px #ffffff; 
                    color: #aaa;
                        
                        span.count {
                            padding: 0px 6px;
                            position:relative;
                            background:  @gray; 
                            margin-top: -15px;
                            margin-left: 5px;
                            border-radius: 15px;
                            top : 0; 
                        }
                        
                }
                a:hover, 
                .active {
                    border-bottom: solid 2px  @blueColor ;
                    color: #000000;
                    font-weight: bold;
                    span {
                        border-bottom: none;
                    }

                    span.count { 
                        background:  @blueColor; 
                        color: #ffffff ;
                    }
                }
                    
            }
        }
    }

    /**
    * Project Overview Page 
    ***/
    .project-overview
    {
        

        .overview-menu 
        {
            li 
            {
                float: left; 
                background: none; 
                list-style: none;
                margin: 10px 5px; 
                border : solid 1px @gray ;
                padding: 10px 5px ;
                text-align: center; ; 
                background: #ffffff;
                width: 100px;
            }

        }
    }

}