/**
* Stylesheet for WP Projetc Manager
*
*
**/

@bodyColor: #f1f1f1 ;
@blueColor : #019dd6 ;
@gray  : #cccccc;
@round : 10px;
@defaultRadius:30px;
@defaultFontSize : 14px;
@defaultFontColor : #848484;

@cercle:180px ;
@defaultPadding : 10px;
@defaultWidth : 100% ;
@defaultMargin : 10px;
@defaultColumnSpaceLeft : 10px;
@defaultColumnSpaceRight : 10px;
@defaultColumnSpaceTop : 10px;
@defaultColumnSpaceBottom :10px;
@defaultGridPadding :25px;

/**SVG background image **/




.cpm {
    background: @bodyColor;
    color: @defaultFontColor ;
    margin-top: 20px;

    /**
    * CPM default css classes
    */
    .clearfix{
        clear: both;
        height: 0px;
        font-size: 0px;

    }

    a {
        outline: 0;
        font-weight: bold;
        text-decoration: none;

    }

    a:active,
        a:hover,
        a:focus {
        text-decoration: none  ;
        border: 0 ;
        outline: 0  ;
        -moz-outline-style: none;
    }

    hr {

    }

    input {
        border: 0px;
        padding: 5px;

    }

    .small-text {
        font-size: small;
    }

    .cpm-no-margin {
        margin : 0px;
    }

    .cpm-no-padding {
        padding: 0px;
    }

    .cpm-no-padding-bottom {
        padding-bottom: 0px;
    }

    .cpm-no-margin-bottom {
        margin-bottom: 0px;


    }

    .cpm-margin-bottom {
        margin-bottom: 25px;
    }

    .cpm-column-gap-left {

    }

    .rounded-corners(@radius:@defaultRadius) {
        -webkit-border-radius: @radius;
        -moz-border-radius: @radius;
        border-radius: @radius;

    }

    .cercale-corners {
        -webkit-border-radius: @cercle;
        -moz-border-radius: @cercle;
        border-radius: @cercle;
    }

    .cpm-text-left {
        text-align: left;
    }

    .cpm-text-center {
        text-align: center;
    }

    .cpm-text-right {
        text-align: right;
    }

    /**
    * Input syte
    **/
    .cpm form select {

    }

    /**
    * Button Styes
    **/
    .cpm-btn {
        padding: 6px 10px;
        margin: 3px;
        border-radius: 3px;
    }

    .cpm-btn-xs
    {
        padding:   3px;
        font-size: small ;
    }


    .cpm-btn-gray {
        .cpm-btn;
        background: @gray;

    }

    .cpm-btn-red {
        background: RED;
        color: #ffffff ;
    }

    .cpm-btn-white {
        .cpm-btn;
        background: #ffffff;
        a:hover
            {
            background: red;
        }
    }

    .cpm-btn-submit {
        border: 0px;
        padding: 5px;
        font-weight: bold;
    }

    .cpm-btn-blue {
        background: @blueColor;
        color : #ffffff;
        a:hover
            {
            color: red;
        }
    }

    .cpm-plus-white {
        background: @blueColor url('../images/plus_white.svg') no-repeat 10% 50%;
        background-size: 25px;
        padding: 10px 10px 10px 50px;
        color : #ffffff;
    }

    /**
    * Responsive Grid Column
    *
    **/
    .cpm-container {
        width: @defaultWidth;
        margin: @defaultMargin;

    }

    .cpm-row-fluid {

    }

    .cpm-row {
        padding-left: @defaultPadding;
        padding-right: @defaultPadding;
        padding-bottom: @defaultPadding;
        width : 100%;

    }

    .cpm-col-1 {
        width: 7.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;

    }

    .cpm-col-2 {
        width: 14.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight/2;
        margin-bottom: @defaultColumnSpaceBottom/2;

    }

    .cpm-col-3 {
        width: 23.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;

    }

    .cpm-col-4 {
        width: 32.333333333%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;


    }

    .cpm-col-5 {
        width: 38.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;

    }

    .cpm-col-6 {
        width: 48.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;
    }

    .cpm-col-7 {
        width: 56.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;

    }

    .cpm-col-8 {
        width: 64.666666667%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;


    }

    .cpm-col-9 {
        width: 73.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;

    }

    .cpm-col-10 {
        width: 81.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;

    }

    .cpm-col-11 {
        width: 89.788285225%;
        float: left;
        margin-right: @defaultColumnSpaceRight;
        margin-bottom: @defaultColumnSpaceBottom;

    }

    .cpm-col-12 {
        width:100%;
    }

    .cpm-last-col
    {
        float: right;
        margin-right: 0px;
        padding-right: 0px;
        color: #000;
        margin-bottom: @defaultColumnSpaceBottom;
    }

    .show_desktop_only {
        display: block;
    }

    .show_small_only {
        display: none;
    }

    .hide_desktop_only {
        display: none;
    }

    .hide_small_only {
        display: bloc;
    }


    .notify-users {
                .cpm-user-select-bar{
                   background: ghostwhite;
                   padding: 5px 10px;
                   border-bottom: solid 1px @gray;

                   .close{
                        background :  url('../images/done.svg') no-repeat 0% 0% ;
                        background-size: 10px;
                        padding: 5px;
                        cursor: pointer;
                        padding-right: 0px;
                        margin-right: -20px;
                        margin-top: 5px;
                   }
                }
                .cpm-user-list{
                    display: none;
                    border: solid 1px @blueColor;
                    margin-top: -3px;
                    .cpm-project-user-list{
                        padding: 8px;
                        li{
                            float: left ;
                            width:50% ;
                            display: inline;
                            //margin-right: 1% ;
                            label{
                                padding: 0px;
                                margin: 0px;
                            }
                        }
                    }
                }
            }



    .cpm-top-bar {
        background: #ffffff;
        margin-bottom: 25px;
        padding-top : 10px;
        padding-bottom: 0px;

        .cpm-priject-search-bar {
            border-bottom: solid 1px @gray ;
            margin-bottom: 0px;
            padding-bottom: 0px;

            .cpm-col-9 {
                padding : 0px;
                margin : 0px;
            }
        }



        .cpm-top-right-btn {
            margin-top:12px;


            .cpm-btn-blue {
                .cercale-corners;
                padding: 6px 2px 3px 2px;

                .dashicons
                {
                    vertical-align: bottom;
                    font-size: @defaultFontSize;


                    a{
                        color: #ffffff;
                    }
                }
            }

            .cpm-btn-white {
                .cpm-btn-white;
                .rounded-corners;
                border: 1px solid @gray;

                a{
                    color: @gray ;
                }
            }

            a {
                font-size:@defaultFontSize;
                margin-right: 5px;
                :hover {
                    color: #000000;
                }
            }
        }

        .cpm-btn-submit {
            padding: 5px 25px;
        }

        .cpm-project-search input{
            float: left;
            width: 45%;
            margin-right: 10px;
        }
        .cpm-project-group   {
            padding: 0px;
            margin: 0px;
            box-shadow: 0 2px 2px -2px gray;

            ul.cpm-project-group-ul {
                margin-bottom: 0px;
                margin-left: 15px;
                padding-bottom: 0px;
                li {
                    border: none;
                    float: left;
                    margin-bottom: 0px;
                    margin-right: 15px;
                    a {
                        padding: 12px 20px 12px 40px;
                        min-width: 50px;
                        display: block;
                        text-align: left;
                        text-decoration: none;
                        border-bottom: solid 2px #ffffff;
                        color: #aaa;

                        span.count {
                            padding: 0px 6px;
                            position:relative;
                            background:  @gray;
                            margin-top: -15px;
                            margin-left: 5px;
                            border-radius: 15px;
                            top : 0;
                        }

                    }
                    a:hover {
                        border-bottom: solid 2px  @blueColor ;
                        color: #000000;
                        font-weight: bold;
                        span {
                            border-bottom: none;
                        }

                        span.count {
                            background:  @blueColor;
                            color: #ffffff ;
                        }
                    }
                }
                .active a ,
                a:hover {
                    border-bottom: solid 2px  @blueColor ;
                    color: #000000;
                    font-weight: bold;

                    span.count {
                        background:  @blueColor;
                        color: #ffffff ;
                    }
                }


                a.cpm-all-project {
                    background: url('../images/all.svg') no-repeat 10% 50%;
                    background-size: 20px;
                }
                .active .cpm-all-project,
                a.cpm-all-project:hover {
                    background: url('../images/all_hover.svg') no-repeat 10% 50%;
                    background-size: 20px;
                }


                a.cpm-active-project {
                    background: url('../images/active_projects.svg') no-repeat 10% 50%;
                    background-size: 20px;
                }
                .active .cpm-active-project,
                a.cpm-active-project:hover {
                    background: url('../images/active_projects_hover.svg') no-repeat 10% 50%;
                    background-size: 20px;
                }
                a.cpm-archive-project {
                    background: url('../images/completed.svg') no-repeat 10% 50%;
                    background-size: 20px;
                }
                .active .cpm-archive-project,
                a.cpm-archive-project:hover {
                    background: url('../images/completed_hover.svg') no-repeat 10% 50%;
                    background-size: 20px;
                }



            }
            .cpm-col-5 {
                padding : 0px;
                margin:  0px;
            }
            ul.cpm-project-view {

                li {
                    float: right;
                    margin-right: 15px;

                    a {
                        color: @gray;

                        :hover,
                            .active
                            {
                            color: #000;
                        }
                    }
                }
            }
        }
    }


    /**
    * Home Project Grid
    *
    **/

    .cpm-project-grid {
        margin: 0px ;
        padding: 0px;

        margin-right: 0px;
        padding-right: 0px;
        .cpm-project {
            .cpm-col-4 ;
            margin: 0 1.5% 1.75% 0 ;
            margin-left: 0px;
            padding: 0px;

            float: left;
            box-shadow: none;
            height: 300px;

            .project_head {
                background: #ffffff ;
                padding: 12px 20px;
                border-bottom: #ccc solid 1px;
                min-height: 55px;
                color: #000 ;
            }

            .project_head:hover {
                background: @blueColor ;
                text-decoration: none;
                h5,
                .cpm-settings-icon-cog span,
                .cpm-project-detail {
                    color: #ffffff;
                }

            }

            .cpm-project-detail {
                font-size: @defaultFontSize;
            }

            .cpm-project-meta {
                padding: @defaultPadding;


                ul {
                    padding: 0px;
                    margin: 0px;
                    margin-left: 5px;
                    margin-bottom: 50px;

                    li {
                        float: left;
                        width: 41% ;
                        list-style: none;

                        padding-left:  25px;
                        font-size: @defaultFontSize;
                        color: #888888;
                        line-height: 35px;
                    }




                }
            }

            .cpm-progress {
                position: absolute;
                bottom: 75px;
                height: 6px;
                width: 100%;
                border-radius: 0px;
                margin: 0px 0px 0px 0px;
                background-color:red;
                background-image: linear-gradient(to bottom, #dae5e8, #dae5e8);
                background-repeat: repeat-x;
                box-shadow: 0px ;
                border-radius: 0px;

                .completed {
                    ackground-color:@blueColor;
                    background-image: linear-gradient(to bottom, @blueColor, @blueColor);
                }
            }

            .cpm-project-people {
                text-align: center;
            }

            .cpm-progress-percentage,
            .cpm-project-action-list-view {
                display: none;
            }


        }

        .cpm-last-col
        {
            margin-right: 0px;
            float: right;
            margin-left: 0px;
        }

    }

    li.message {
        background: url('../images/bullet_green.png') no-repeat  0% 55%   ;

    }

    li.todo {
        background: url('../images/to-do-list.png') no-repeat  0% 55%   ;

    }

    li.todos {
        background: url('../images/to-do-list.png') no-repeat  0% 55%   ;

    }

    li.comments {
        background: url('../images/comment.png') no-repeat  0% 55%   ;

    }

    li.files {
        background: url('../images/docs.png') no-repeat  0% 55%   ;
    }

    li.milestone {
        background: url('../images/milestones.png') no-repeat  0% 55%   ;

    }

    .cpm-project-list
    {
        margin: 0px ;
        padding: 0px;

        .cpm-project {
            margin: @defaultGridPadding/2  @defaultGridPadding   @defaultGridPadding/1.5   0px ;
            margin-left: 0px;
            padding: 0px;
            width: 100% ;
            float: left;
            box-shadow: none;
            height: 120px;

            .project_head {
                background: #ffffff ;
                padding: 12px 20px;
                min-height: 55px;
                color: #000 ;
                height: 96px;
                width : 20%;
                float: left;
                margin-right: 10px;
            }

            .project_head:hover {
                background: @blueColor ;
                text-decoration: none;
                h5,
                .cpm-settings-icon-cog span,
                .cpm-project-detail {
                    color: #ffffff;
                }

            }

            .cpm-project-detail {
                font-size: @defaultFontSize;
            }

            .cpm-project-meta {
                padding: 0px;
                width: 28%;
                float: left;

                ul {
                    padding: 0px;
                    margin: 0px;
                    margin-left: 0px;
                    margin-bottom: 5px;

                    li {
                        float: left;
                        width: 40% ;
                        list-style: none;
                        padding-left:  20px;
                        font-size: @defaultFontSize;
                        color: #888888;
                        line-height: 35px;
                    }
                }
            }

            .cpm-progress {
                position:relative ;
                float: left;
                top: 55px;
                height: 6px;
                width: 15%;
                border-radius: 0px;
                margin: 0px 0px 0px 0px;
                background-color:red;
                background-image: linear-gradient(to bottom, #dae5e8, #dae5e8);
                background-repeat: repeat-x;
                box-shadow: 0px ;
                border-radius: 0px;


                .completed {
                    ackground-color:@blueColor;
                    background-image: linear-gradient(to bottom, @blueColor, @blueColor);
                }
            }

            .cpm-progress-percentage {
                position:relative ;
                float: left;
                top: 48px;
                margin-left: 5px;
                width: 3%;
            }

            .cpm-project-people {
                position: relative;
                float: left;
                width: 20%;
                text-align: center;
                top : 15px;

            }




        }
    }



    /**
    * Project Header part
    **/

    .cpm-border-bottom {
        border-bottom: solid 1px @gray;
        padding-bottom: 0px;
    }

    .cpm-project-header {

        ul {
            margin-bottom: 0px;
            margin-left: 15px;
            padding-bottom: 0px;
            li {
                border: none;
                float: left;
                margin-bottom: 0px;
                margin-right: 5px;
                a {
                    padding: 6px 30px 6px 55px;
                    min-width: 30px;
                    display: block;
                    text-decoration: none;
                    border-bottom: solid 2px #ffffff;
                    color: #aaa;
                    min-height: 42px;
                    background-size: 24px 20px;


                    margin-right: 30px;

                    div
                    {
                        text-align: left;
                        font-weight: normal;
                        font-size: 80%;
                    }
                    span.count {
                        padding: 0px 6px;
                        position:relative;
                        background:  @gray;
                        margin-top: -15px;
                        margin-left: 5px;
                        border-radius: 15px;
                        top : 0;
                    }

                }
                .overview {
                    background: url('../images/overview.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;

                }
                .overview:hover,
                    a.overview.active {
                    background: url('../images/overview_hover.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;
                }

                .message {
                    background: url('../images/discussion.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;

                }
                .message:hover,
                    a.message.active {
                    background: url('../images/discussion_hover.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;
                }

                .activity {
                    background: url('../images/activity.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;

                }
                .activity:hover,
                    a.activity.active {
                    background: url('../images/activity_hover.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;
                }

                .milestone {
                    background: url('../images/milestone.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;

                }
                .milestone:hover,
                    a.milestone.active {
                    background: url('../images/milestone_hover.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;
                }

                .todo {
                    background: url('../images/todo.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;

                }
                .to-do-list:hover,
                    a.to-do-list.active {
                    background: url('../images/todo_hover.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;
                }

                .files {
                    background: url('../images/file.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;

                }
                .files:hover,
                    a.files.active {
                    background: url('../images/file_hover.svg') no-repeat  20% 30%;
                    background-size: 24px 24px;
                }

                .settings {
                    background: url('../images/settings.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;

                }
                .settings:hover,
                    a.settings.active {
                    background: url('../images/settings_hover.svg') no-repeat 20% 30%;
                    background-size: 24px 24px;
                }


                a:hover,
                    .active {
                    border-bottom: solid 2px  @blueColor ;
                    color: #000000;
                    font-weight: bold;
                    span {
                        border-bottom: none;
                    }

                    span.count {
                        background:  @blueColor;
                        color: #ffffff ;
                    }

                    div
                    {
                        color:  @blueColor; ;
                    }
                }

            }
        }
    }

    /**
    * Project Overview Page
    ***/
    .project-overview {

        .overview-menu {

            ul {
                padding: 0px;
                margin: 0px;

                li {

                    float: left;
                    background: none;
                    list-style: none;
                    margin: 0px;
                    margin-right: 20px;
                    border : solid 1px #E5E5E5;
                    padding: 25px 10px;
                    text-align: center;
                    background: #ffffff;
                    width : 13.5955%;
                    clear: right;
                    div {
                        float : left;
                    }

                    .icon {
                        padding: 12px 3px;
                        width: 22%;
                        border-radius: 50px;
                        color: #ffffff;
                        margin-right: 20px;
                        height: 22px;
                    }

                    .count {
                        text-align: left;
                        span {
                            color: @blueColor;
                            font-size: 145%;
                            font-weight: bold;
                        }
                    }
                }

                .message .icon {
                    background : #9DBC5E url('../images/discussion_white.svg') no-repeat center center;
                    background-size: 25px;
                }

                .todo .icon {
                    background: #1FA185 url('../images/todolist_white.svg') no-repeat center center;
                    background-size: 25px;
                }

                .todos .icon {
                    background: #0090DB url('../images/todo_white.svg') no-repeat center center;
                    background-size: 25px;
                }

                .comments .icon {
                    background: #1FA185 url('../images/comments_white.svg') no-repeat center center;
                    background-size: 25px;
                }

                .files .icon {
                    background: #BE3C2F url('../images/files_white.svg') no-repeat center center;
                    background-size: 25px;
                }

                .milestone .icon {
                    background: #F29B27 url('../images/milestones_white.svg') no-repeat center center;
                    background-size: 25px;
                }
            }
        }

        .cpm-chart {
            background: #ffffff;
            padding: 10px 30px 40px;
            margin-top: 20px;
            margin-right: 20px;

            .cpm-text-right {
                .to-do {
                    background: #79C7DE;
                    padding: 0px 10px;
                    margin: 0px 5px 15px;
                }

                .activity {
                    background: #B972B6;
                    padding: 0px 10px;
                    margin: 0px 5px 15px;
                }

                select {
                    margin: 5px 25px;
                }


                canvas {

                }
            }
        }
        .cpm-right-part {

            background: #ffffff !important;

            h2 {
                padding: 20px 12px 20px 20px;
                margin-bottom: 15px;
                color: @defaultFontColor;
            }

            .user_list {
                margin-left: 20px;
                font-size: 150%;

                li {
                    margin-bottom: 30px;
                    clear: left;
                    img {
                        border-radius: 50px;
                        float: left;
                        margin-right: 10px;
                    }
                    span {
                        font-size: small;
                        color:@gray;
                    }
                }
            }
        }
    }

    /**
    * Activity Page
    */
    .cpm-activity-list {
        padding: 0px;
        margin: 0px;


        li.cpm-row {
            display: flex;
            vertical-align: middle;
            margin-bottom: 15px;

            padding: 0px;
            .cpm-activity-date {
                margin-bottom: 0px;
                background: #ffffff;
                text-align: center;
                margin-right: 1.6%;
                padding : 30px 0px;

                span {
                    color: #000;
                    font-size: 150%;
                    font-weight: bold;
                }

            }

            .cpm-activity-body {
                margin-bottom: 0px;
                margin-right:0px;
                ul {
                    padding: 0px;
                    margin: 0px;
                    li {
                        padding: 0px;
                        margin: 0px;
                        background: #ffffff;
                        padding: 8px 15px;

                        .date {
                            background: url('../images/time.svg') no-repeat 0 50%;
                            background-size: 20px;
                            padding:3px 2px 2px 30px;
                        }

                    }
                    li:nth-child(even) {
                        background: #F8F9FB;
                    }
                }
            }

        }

    }
    .cpm-todolists{
        margin-top: 25px;
        padding: 0px;
        .cpm-todolist {
            margin: 0px;
            padding: 0px;
            margin-bottom: 10px;

            header {
                border-bottom: solid 1px @gray;
                padding: 25px 25px 3px 25px;
                margin-bottom: 10px;

                .cpm-right {
                    text-align : right ;
                    a {

                        float: none;
                        padding: 0px;
                    }
                    .move {
                        background :  url('../images/move.svg') no-repeat 50% 0% ;
                        padding: 10px;
                        background-size: 20px;

                    }
                    .cpm-icon-edit {
                        background :  url('../images/edit.svg') no-repeat 50% 0% ;
                        padding: 10px;
                        background-size: 18px;
                    }
                    .cpm-icon-delete {
                        background :  url('../images/close.svg') no-repeat 50% 0% ;
                        padding: 10px;
                        background-size: 15px;

                        &:before {
                            content: "";
                        }
                    }
                }
            }

            .cpm-todos {
                padding: 0px;
                margin: 0px;

                li {
                    border-bottom: solid 1px @gray;
                    padding: 0px 8px 0px 30px;
                    background: #ffffff;
                    a {
                        color: @blueColor ;
                    }
                    div {
                        margin-bottom: 0px;
                        padding-bottom: 0px;
                        padding-top: 2px;
                    }
                    .cpm-todo-content {
                        .cpm-comment-count {
                            background :  url('../images/comment_gray.svg') no-repeat 0% 50% ;
                            background-size: 20px;
                            padding: 10px;
                            padding-left: 25px;
                            font-weight: bold;
                        }
                    }

                    .completed_by {
                        .cpm-assigned-user,
                        time {
                            background: none;
                        }
                        .avatar {
                            border-radius: 50px;
                            vertical-align: middle;
                            margin-right: 8px;
                        }
                    }

                    .cpmtt-icon-clock {

                        background :  none url('../images/time.svg') no-repeat 0% 50% ;
                        background-size: 20px;

                    }

                    .cpm-todo-action-right {
                        float : right;
                        text-align : right ;
                        visibility : hidden ;

                        a {
                            padding : 0px;
                            margin : 0px;

                            padding-left : 18px;
                            valign: middle;
                        }
                        .cpm-todo-delete {
                            background :  url('../images/close.svg') no-repeat 50% 0% ;
                            background-size: 10px;
                            &:before {
                                content: "";
                            }
                        }

                        .cpm-todo-edit {
                            background :  url('../images/edit.svg') no-repeat 50% 0% ;
                            background-size: 10px;
                        }

                        .move {
                            background :  url('../images/move.svg') no-repeat 50% 30% ;
                            background-size: 13px;


                        }

                    }



                }



                :hover {
                    .cpm-todo-action-right {
                        visibility : visible ;
                    }
                }
            }

            .cpm-todos-new{
                margin: 0px;
                padding: 0px;
                .cpm-new-btn {
                    margin-bottom: 15px;
                    border-bottom: solid 1px @gray;
                    padding: 0px 8px 20px 30px;
                    margin-left: 0px;
                    a {
                        background :  url('../images/plus_blue.svg') no-repeat 0% 50% ;
                        padding: 10px;
                        background-size: 20px;
                        padding-left: 25px;
                        color : @blueColor ;
                        font-weight: bold;
                    }
                }
            }

            footer.cpm-list-footer {
                padding: 0px;
                margin:0px;
                padding-left: 20px;

                .cpm-col-6 {
                    border-right: solid 1px @gray ;
                    margin-right: 4%;

                    span {
                        font-size: 130%;
                        font-weight: bold;
                    }
                }

                .cpm-todo-complete {
                    background :  url('../images/todo_completed.svg') no-repeat 0% 50% ;
                    padding-left: 6%;
                    background-size: 40px;
                }
                .cpm-todo-incomplete {
                    background :  url('../images/todo-incomplete.svg') no-repeat 0% 50% ;
                    padding-left: 6%;
                    background-size: 40px;
                }

                .cpm-todo-comment {
                    background :  url('../images/comment.svg') no-repeat 0% 50% ;
                    padding-left: 6%;
                    background-size: 40px;
                    a {
                        font-size: @defaultFontSize;
                        font-weight: normal;
                    }
                }
                .cpm-todo-prgress-bar
                {
                    margin-top: 15px;
                }
            }
        }
    }

    .cpm-new-todolist-form {
        margin-top: 10px;

    }

    .cpm-message-page {
        display : flex;
        width : 100% ;
        padding-left : 0px;
        padding-right : 0px;
        margin-right : 0px;
        .cpm-message-list,
        .cpm-message-body {
            background : #ffffff;
            padding : 10px 20px;
        }

        .cpm-message-list {
            padding :0px;
            margin-right : 25px;
            padding-top : 25px;
            padding-left : 0px;
            .cpm-add-message {

                margin-left : 40px;
            }
            ul {
                margin : 0px;
                padding : 0px;
                margin-top : 40px;
                border-top : @gray solid 1px;
                height : 800px;
                //overflow: auto ;
            }
            li {

                margin : 0px;
                border-left : @gray solid 3px;
                border-bottom : @gray solid 1px;
                padding: 15px ;
                img{
                    border-radius : 45px;
                    height : 55px;
                    width : 55px;
                }
                .cpm-col-10
                {
                    margin-right : 0px;
                    padding-right : 0px;
                    .delete-message {
                        float : right ;

                    }
                }
                .comment-count {
                    .cpm-btn-gray ;
                    .cercale-corners;
                    float : right ;
                    padding : 1px 8px;
                }
            }

            li:hover {
                background: #f9f9f9;
                border-left: @blueColor solid 3px ;
                .comment-count {
                    background: @blueColor;
                    color : #fff;
                }
            }

        }

        .cpm-message-body{
            margin-right : 0px;

            .cpm-discuss-title{
                color: @blueColor;
                border-bottom: solid 1px @gray;
                padding-bottom: 10px;

                .cpm-edit-discussion{
                    position: absolute;
                    right: 10px;
                    background :  url('../images/edit.svg') no-repeat 0% 0% ;
                    background-size: 20px;
                    padding: 10px;

                    width : 30px;

                }
            }

            .cpm-comment{
                background: #fff;
                margin-bottom: 10px;
                display: block;
                border: @gray solid 1px;
                padding: 10px;
                min-height: 50px;

                .cpm-comment-action {
                    position: absolute;
                    text-align: right;
                    right: 10px;
                    top : 10px ;

                    .cpm-edit-comment-link {
                        background :  url('../images/edit.svg') no-repeat 50% 50% ;
                        background-size: 10px;
                        padding: 10px;
                    }

                    .cpm-delete-comment-link {
                        background :  url('../images/close.svg') no-repeat 50% 50% ;
                        background-size: 10px;
                        padding: 10px;

                    }
                }
            }
        }
        .cpm-message-form-wrap,
        .cpm-milestone-form-wrap,
        .cpm-comment-form-wrap,
        .cpm-milestone-form{
            width: auto;
        }

    }


    /** CSS for Milestone Page **/
    #cpm-milestone-page{

        .cpm-milestone-form-wrap{
         width: auto;
         margin-left: 0px;

        }
        .cpm-milestone-link{
            margin: 0px;
            padding: 0px;
            margin-bottom: 30px;
            list-style: none;

            li {
                margin-right: 5px;
                float: left;

                a{
                    padding: 15px 25px;
                    border-bottom: #fff solid 2px ;
                }
                .cpm-late-milestone-link{
                    background: #fff;
                }

                .cpm-upcomming-milestone-link{
                    background: #fff;
                }

                .cpm-complete-milestone-link{
                    background: #fff;
                }
                .cpm-plus-white {
                    float: right;
                    position: absolute;
                    right: 0px;
                    border: none;
                    padding-left: 50px;
                    margin-top: -10px;
                }
                .cpm-plus-white:hover
                {
                    border: none;

                }

            }
            li a:hover,
            li.active a{
                border-bottom: #F46720 solid 2px ;
            }
        }
        .cpm-milestone-details {
            .cpm-milestone-data{

            }
            .cpm-milestone{
                background: #fff;
                border: @gray solid 1px;
                margin-bottom: 20px;
                .milestone-head {
                    padding: 15px;
                    border-bottom: solid 1px @gray;
                    margin-bottom : 0px;
                    margin-top: 0px;
                    .time-left{
                        font-size: small;
                        font-weight: normal;
                        color: @gray;
                    }
                    .cpm-links{
                        margin: 0px;
                        margin-top:-15px;
                        .cpm-icon-edit{
                            background :  url('../images/edit.svg') no-repeat 50% 50% ;
                            background-size: 15px;
                            padding: 10px;
                        }
                        .cpm-milestone-delete{

                            background :  url('../images/close.svg') no-repeat 50% 50%;
                            background-size: 15px;
                            padding: 10px;
                        }
                        .cpm-milestone-open{

                            background :  url('../images/check-mark.svg') no-repeat 50% 50%;
                            background-size: 15px;
                            padding: 10px;
                        }
                        .cpm-milestone-open{

                            background :  url('../images/done.svg') no-repeat 50% 50%;
                            background-size: 20px;
                            padding: 10px;
                        }
                        .cpm-milestone-complete{
                            background :  url('../images/check-mark.svg') no-repeat 50% 50%;
                            background-size: 40px;
                            padding: 10px;
                        }


                    }
                }
                .detail{
                    background: #FCFCFC;
                    padding: 15px;
                    border-bottom: solid 1px @gray;
                }
                .cpm-milestone-items-details{
                    padding: 15px;
                    .cpm-milestone-todo{
                        h3{
                            background: #F3F8FC ;
                        }
                        li{
                            background :  url('../images/milestone-todo.svg') no-repeat 12px 30% ;
                            background-size: 25px;
                        }
                    }
                    .cpm-milestone-discussion{
                        h3{
                            background: #F8F8EE ;
                        }
                        li{
                            background :  url('../images/discussion.svg') no-repeat 12px 30% ;
                            background-size: 25px;

                        }
                        .time{
                            background :  url('../images/time.svg') no-repeat 0% 30% ;
                            background-size: 20px;
                            padding-left: 25px;

                        }

                    }

                    .cpm-col-6{
                        border: solid 1px @gray;

                        h3{
                          margin: 0px;
                          padding: 15px 15px;
                          margin-bottom: 5px;
                        }

                        ul{
                           padding :0px;
                           margin :0px;

                            li{
                                border-bottom: solid 1px @gray;
                                padding: 6px 15px;
                                padding-left: 45px;
                            }
                            li:last-child{
                                border: none;
                            }
                        }
                    }
                    img.avatar{
                            border-radius: 15px;
                            border: solid 1px @gray;
                            vertical-align: top;
                            margin-right: 5px;

                        }
                }
            }
            .cpm-milestone-completed{
                padding: 15px;
                color: #124b04;
                background: #d0e6cb;
            }
        }
    }
    /** End MileStone Page **/
    /*** Files ***/
    .cpm-files-page{
        .cpm-files{
            ul{
                padding : 0px;
                margin : 0px;
            }
                li{
                    background: #fff;
                    margin-right: 30px;
                    margin-bottom: 30px;
                    border: none;
                    img{
                        min-width: 222px;

                    }
                    .cpm-file-name,
                    .cpm-file-meta{
                        padding-left: 20px;
                    }
                    .cpm-file-action{
                        margin-top: 5px;
                        border-top: #F4F4F4 solid 1px;
                        background: #FCFCFC;
                        padding: 20px 20px 0px;

                        ul{
                            text-align:center;
                            li{
                                background: none
                            }
                            a{
                                padding: 15px;
                                background-size: 30px;

                            }
                            .cpm-comment-count{
                                    font-size: small;
                                    padding: 1px 4px;
                                    margin-top: -15px;
                                    border-radius: 10px;
                                    position: absolute;
                                    top : 0px;
                                    margin-left: 30px;

                                }
                            .cpm-go-discussion a{
                                background :  url('../images/attach.svg') no-repeat  center center ;
                            }
                            .cpm-comments-count a{
                                background :  url('../images/discussion.svg') no-repeat center center ;
                            }
                            .cpm-download-file a{
                                background :  url('../images/download.svg') no-repeat  center center ;

                            }
                        }
                    }
                }



        }
    }

    /**End Files **/

    /*****/
    /**
    * Media Query for responsive
    *
    **/
    @media only screen and (max-width: 780px) {

        .cpm-sm-col-1 {
            width: 100%;
        }

        .cpm-sm-col-2 {
            width: 100%;
        }

        .cpm-sm-col-3 {
            width: 100%;
        }

        .cpm-sm-col-4 {

        }

        .cpm-sm-col-5 {
            width: 100%;
        }

        .cpm-sm-col-6 {
            width: 100%;
        }

        .cpm-sm-col-7 {
            width: 100%;
        }

        .cpm-sm-col-8 {
            width: 100%;
        }

        .cpm-sm-col-9 {
            width: 100%;
        }

        .cpm-sm-col-10 {
            width: 100% ;
        }

        .cpm-sm-col-11 {
            width: 100%;
        }

        .cpm-sm-col-12 {
            width: 100%;
            float: none;
        }

        .show_desktop_only {
            display: none;
        }

        .show_small_only {
            display: block;
        }

        .hide_desktop_only {
            display: block;
        }

        .hide_small_only {
            display: none;
        }


        .cpm-project-grid,
        .cpm-project-list {
            width: 100%;
            .cpm-project {
                width: 100%;
                margin-left: 0px;
                padding: 0px;
                box-shadow: none;
                height: 300px;

                .project_head {
                    background: #ffffff ;
                    padding: 12px 20px;
                    border-bottom: #ccc solid 1px;
                    min-height: 55px;
                    color: #000 ;

                }

                .project_head:hover {
                    background: @blueColor ;
                    text-decoration: none;
                    h5,
                    .cpm-settings-icon-cog span,
                    .cpm-project-detail {
                        color: #ffffff;
                    }

                }

                .cpm-project-detail {
                    font-size: @defaultFontSize;
                }

                .cpm-project-meta {
                    padding: @defaultPadding;


                    ul {
                        padding: 0px;
                        margin: 0px;
                        margin-left: 5px;
                        margin-bottom: 50px;

                        li {
                            float: left;
                            width: 41% ;
                            list-style: none;
                            background: url('../images/bullet_green.png') no-repeat  0% 55%  ;
                            padding-left:  25px;
                            font-size: @defaultFontSize;
                            color: #888888;
                            line-height: 35px;
                        }
                    }
                }

                .cpm-progress {
                    position: absolute;
                    bottom: 75px;
                    height: 6px;
                    width: 100%;
                    border-radius: 0px;
                    margin: 0px 0px 0px 0px;
                    background-color:red;
                    background-image: linear-gradient(to bottom, #dae5e8, #dae5e8);
                    background-repeat: repeat-x;
                    box-shadow: 0px ;
                    border-radius: 0px;

                    .completed {
                        ackground-color:@blueColor;
                        background-image: linear-gradient(to bottom, @blueColor, @blueColor);
                    }
                }

                .cpm-project-people {
                    text-align: center;
                }


            }

        }

        .project-overview {

            .overview-menu {

                ul {
                    li {
                        width: 44.21582255%;
                        margin-bottom: 20px;

                        .icon {
                            padding: 25px 0px;
                            width: 25%;
                            font-size: 150%;
                            border-radius: 50px;
                            color: #ffffff;
                            margin-right: 20px;
                        }

                    }

                }
            }
        }

        /*** For activity page ***/
        .cpm-activity-list {

            li.cpm-row {
                display: block ;

                .cpm-activity-date {
                    margin-bottom: 10px;
                    margin-top: 25px;
                }

            }
        }


    }



}
